<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - UIS</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="icon" type="image/png" href="~/Images/favicon - Copy.PNG">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/UIS.styles.css" asp-append-version="true" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
       <header style="background-color: lightgray; width: 100%;">
  
        <div class="container text-center">
            <h1 style="margin-bottom:0">UIS Help</h1>
            <p>Help with UIS, Timeclock and TSR</p>
        </div>

    </header>
      <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
    <a class="navbar-brand" href="#">
        <img src="@Url.Content("~/Images/waffle-house-logo.svg")" alt="Waffle House Logo">
    </a>

    <!-- Mobile toggle button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Collapsible nav content -->
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav nav-tabs flex-grow-1">
            <li class="nav">
                <a class="nav-link text-light @(ViewContext.RouteData.Values["controller"].ToString() == "Home" ? "active text-black" : "text-white")" asp-area="#" asp-controller="Home" asp-action="Index">Home</a>
            </li>
            <li>
                <a class="nav-link text-light @(ViewContext.RouteData.Values["controller"].ToString() == "UISHelpTabs" && ViewContext.RouteData.Values["action"].ToString() == "Privacy" ? "active text-black" : "text-white")" asp-controller="UISHelpTabs" asp-action="Privacy">Time Clock</a>
            </li>
            <li>
                <a class="nav-link text-light @(ViewContext.RouteData.Values["action"].ToString() == "UIS" ? "active text-black" : "text-white")" asp-area="#" asp-controller="UISHelpTabs" asp-action="UIS">UIS</a>
            </li>
            <li>
                <a class="nav-link text-light @(ViewContext.RouteData.Values["action"].ToString() == "MICROS" ? "active text-black" : "text-white")" asp-area="#" asp-controller="UISHelpTabs" asp-action="MICROS">MICROS/Oracle Register</a>
            </li>
            <li>
                <a class="nav-link text-light @(ViewContext.RouteData.Values["action"].ToString() == "AssociateInfo" ? "active text-black" : "text-white")" asp-area="#" asp-controller="UISHelpTabs" asp-action="AssociateInfo">Associate Info</a>
            </li>
            <li>
                <a class="nav-link text-light @(ViewContext.RouteData.Values["action"].ToString() == "ManagementInfo" ? "active text-black" : "text-white")" asp-area="#" asp-controller="UISHelpTabs" asp-action="ManagementInfo">Management Info</a>
            </li>
            <li class="dropdown @(new[] { "NewUnitOpenings", "UnitShutDown", "DevicesandPorts" }.Contains(ViewContext.RouteData.Values["action"]?.ToString()) ? "active text-black" : "text-white")">
                <a class="nav-link text-light dropdown-toggle @(new[] { "NewUnitOpenings", "UnitShutDown", "DevicesandPorts" }.Contains(ViewContext.RouteData.Values["action"]?.ToString()) ? "active text-black" : "text-white")"
                   data-toggle="dropdown" href="#">Other</a>
                <ul class="dropdown-menu">
                    <li>
                        <a class="dropdown-item @(ViewContext.RouteData.Values["action"]?.ToString() == "NewUnitOpenings" ? "active text-black" : "text-black")"
                           asp-controller="UISHelpTabs" asp-action="NewUnitOpenings">New Unit Openings</a>
                    </li>
                    <li>
                        <a class="dropdown-item @(ViewContext.RouteData.Values["action"]?.ToString() == "UnitShutDown" ? "active text-black" : "text-black")"
                           asp-controller="UISHelpTabs" asp-action="UnitShutDown">Unit Shut Down</a>
                    </li>
                    <li>
                        <a class="dropdown-item @(ViewContext.RouteData.Values["action"]?.ToString() == "DevicesandPorts" ? "active text-black" : "text-black")"
                           asp-controller="UISHelpTabs" asp-action="DevicesandPorts">Device Layout and Ports</a>
                    </li>
                </ul>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light" asp-area="" asp-controller="UISHelpTabs" asp-action="Search">Search</a>
            </li>
        </ul>
    </div>
</nav>

    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <hr>
    <div class="text-center">
        <div class="row  justify-content-center">
            <div class="col-auto">
                <h6>
                    <b>
                        <center>
                            If the pages you have checked did not contain the solution to your problem, after you have checked every tab, please call us at <b><u>770-729-5933</u></b> so that we may help you resolve the issue.
                            If your device is not working and is producing smoke or a harsh smoke smell, unplug it immediately and call us.
                        </center>
                    </b>
                </h6>
            </div>
        </div>
    </div>
    </hr>

    <div class="container">
        &copy; 2025 - Waffle House <a asp-area="" asp-controller="Home"></a>
    </div>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)


</body>
</html>
