<div class="panel-heading">
    <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accRegi" href="#Ucollapse13">Powervar/UPS</a>
    </h4>
</div>
<div id="Ucollapse13" class="panel-collapse collapse">
    <div class="panel-body">
        <h4>Powervar/UPS/Battery Backup</h4>
        <!--
         <h4>Powervar Troubleshooting:</h4>
         <p>If the powervar/UPS is beeping, please turn off then unplug the power cable from the wall</p>
         <p>Please follow the steps below if your battery backup is experiencing any of the issues listed.  Please reference the guide on the top of the powervar/UPS.</p>
         <a><img src="@Url.Content("~/Images/PowerVarStatus.PNG")" data-toggle="modal" data-target="#PowerVarStatus" class="center" height="288" width="354"></a>
         <ul>

             <li>Off: if the powervar is off, please ensure that the power cable is plugged into the wall, not itself or a power strip.  After this, press and hold the power button.</li>
             <img src="@Url.Content("~/Images/PowerVarStatus-off.PNG")" class="img-responsive center-block" style="max-width: 300px; width: 100%; height: auto;" alt="POwerVarStatus off image">
             <li>On: The powervar is operating normally.</li>
             <img src="@Url.Content("~/Images/PowerVarStatus-on.PNG")" class="img-responsive center-block" style="max-width: 300px; width: 100%; height: auto;" alt="PowervarstatusOnImageShowCase">
             <li>On, no battery: please remove the front cover and ensure the battery is plugged in.  If it is not, please plug it in.  If it is, the battery needs to be replaced.  Please buy a power strip from your local retailer and order a new powervar from UIS</li>
             <img src="@Url.Content("~/Images/PowerVarStatus-noBat.PNG")" class="img-responsive center-block" style="max-width: 300px; width: 100%; height: auto;" alt="StatusnoBatteryImage">
             <li>On, Replace Battery: The battery needs to be replaced.  Please buy a power strip from your local retailer and order a new powervar from UIS</li>
             <img src="@Url.Content("~/Images/PowerVarStatus-replaceBat.PNG")" class="img-responsive center-block" style="max-width: 300px; width: 100%; height: auto;" alt="ReplaceBatteryExample">
             <li>On, overload: Please make sure the HP or Brother office printer are not plugged into the powervar.  If it is not, the unit needs to be replaced.  Please buy a power strip from your local retailer and order a new powervar from UIS</li>
             <img src="@Url.Content("~/Images/PowerVarStatus-overload.PNG")" class="img-responsive center-block" style="max-width: 300px; width: 100%; height: auto;" alt="StatusOverload">
             <li>On Battery Power: Please make sure that the powervar is not plugged into itself.  After confirming it is not, please make sure the unit is receiving power.  If it is not, the unit needs to be replaced.  Please buy a power strip from your local retailer and order a new powervar from UIS</li>
             <img src="@Url.Content("~/Images/PowerVarStatus-onBat.PNG")" class="img-responsive center-block" style="max-width: 300px; width: 100%; height: auto;" alt="VarStatusOnbAt">
             <li>On battery, battery low: Please make sure that the powervar is not plugged into itself.  After confirming it is not, please make sure the unit is receiving power.  If it is not, the unit needs to be replaced.  Please buy a power strip from your local retailer and order a new powervar from UIS</li>
             <img src="@Url.Content("~/Images/PowerVarStatus-onBatLow.PNG")" class="img-responsive center-block" style="max-width: 300px; width: 100%; height: auto;" alt="batterylowImage">
             <li>Off, Overload: Please make sure the HP or Brother office printer are not plugged into the powervar.  If it is not, the unit needs to be replaced.  Please buy a power strip from your local retailer and order a new powervar from UIS</li>
             <img src="@Url.Content("~/Images/PowerVarStatus-overloadOff.PNG")" class="img-responsive center-block" style="max-width: 300px; width: 100%; height: auto;" alt="overloadOffImage">
             <li>Off, Unit fault: The unit needs to be replaced. Please buy a power strip from your local retailer and order a new powervar from UIS.  </li>
             <img src="@Url.Content("~/Images/PowerVarStatus-fault.PNG")" class="img-responsive center-block" style="max-width: 300px; width: 100%; height: auto;" alt="faultbatterystatus">





         </ul>
         Please email <a href="mailto:uis@wafflehouse.com">uis@wafflehouse.com</a> or call UIS technical support to order another battery backup.

         <hr />
        -->
        <h4>Set-up your powervar</h4>
        <p>Please follow the directions provided in the box your powervar came in.  If these instructions are missing, they can be found below:</p>
        <p><u>The unit is shipped with the internal battery disconnected for safety.  Before powering on the powervar, please follow these instructions.</u></p>
        <ol>
            <li>Locate the battery jumper connectors.</li>
            <button class="btn btn-primary" data-toggle="collapse" data-target="#var4">Show Images</button>
            <div id="var4" class="collapse">
                <div class="w-100 text-center" >
                    <img src="@Url.Content("~/Images/UPSc.jpg")"
                         class="img-responsive img-thumbnail shadow center-block"
                         style="max-width: 300px; width: 100%; height: auto;"
                         alt="UPSCImage"
                         data-toggle="modal"
                         data-target="#UPScModal">
                </div>
            </div>

            <div class="modal fade" id="UPScModal" tabindex="-1" role="dialog" aria-labelledby="UPScModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-body text-center">
                            <img src="@Url.Content("~/Images/UPSc.jpg")" class="img-fluid" alt="UPSCImage">
                        </div>
                    </div>
                </div>
            </div>

            <li>Connect the battery jumpers.</li>
            <button class="btn btn-primary" data-toggle="collapse" data-target="#var5">Show Images</button>
            <div id="var5" class="collapse">
                <div class="row">
                    <img src="@Url.Content("~/Images/UPSd.jpg")"
                         class="img-responsive img-thumbnail shadow center-block"
                         style="max-width: 300px; width: 100%; height: auto;"
                         alt="UPSdExample" "
                         data-toggle="modal"
                         data-target="#UPSdModal">
                </div>
            </div>

            <div class="modal fade" id="UPSdModal" tabindex="-1" role="dialog" aria-labelledby="UPSdModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-body text-center">
                            <img src="@Url.Content("~/Images/UPSd.jpg")" class="img-fluid" alt="UPSDImage">
                        </div>
                    </div>
                </div>
            </div>

            <li>Place the battery jumpers on the posts so they can be tucked behind the front cover when it is replaced.</li>
            <button class="btn btn-primary" data-toggle="collapse" data-target="#var7">Show Images</button>
            <div id="var7" class="collapse">
                <div class="row">
                    <img src="@Url.Content("~/Images/UPSe.jpg")"
                         class="img-responsive img-thumbnail shadow center-block"
                         style="max-width: 300px; width: 100%; height: auto;"
                         alt="UPSeExample" "
                         data-toggle="modal"
                         data-target="#UPSeModal">
                </div>
            </div>

            <div class="modal fade" id="UPSeModal" tabindex="-1" role="dialog" aria-labelledby="UPSeModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-body text-center">
                            <img src="@Url.Content("~/Images/UPSe.jpg")" class="img-fluid" alt="UPSeImage">
                        </div>
                    </div>
                </div>
            </div>

            <li>Place the front panel back on the powervar, pivoting from the bottom the same way as the front panel was removed.</li>
            <button class="btn btn-primary" data-toggle="collapse" data-target="#var6">Show Images</button>
            <div id="var6" class="collapse">
                <div class="row">
                    <img src="@Url.Content("~/Images/UPSf.jpg")"
                         class="img-responsive img-thumbnail shadow center-block"
                         style="max-width: 300px; width: 100%; height: auto;"
                         alt="UPSfExample" "
                         data-toggle="modal"
                         data-target="#UPSfModal">
                </div>
            </div>

            <div class="modal fade" id="UPSfModal" tabindex="-1" role="dialog" aria-labelledby="UPSfModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-body text-center">
                            <img src="@Url.Content("~/Images/UPSf.jpg")" class="img-fluid" alt="UPSfImage">
                        </div>
                    </div>
                </div>
            </div>

            <li>If there is a warning label on the unit, remove it now. Press and hold the power button for 3 seconds to turn it on.</li>
                <div class="w-100">
                    @Html.Partial("_UpsagIMG")
                </div>
        </ol>
        <p>Note: if you plan to ship the powervar to another location, weather that be another unit or to return it to UIS, please follow the packing instructions below to ensure that the shipment can be made safely.</p>


        <hr />

        <h4>Shipping your powervar</h4>
        <p>To ensure the safe shipment of the unit and its battery, please follow the following instructions.  This applies in <b>all circumstances</b>, even if the unit is broken or the battery is dead.</p>
        <ol>

            <li>Before unplugging the unit, make sure the unit is turned off.  While it is still plugged in, press and hold the power button for 3 seconds: until the lights and any sound the unit may be making are off. If the unit is faulty, you should skip this step.  If you do not know weather or not the unit is faulty, it is better to skip this step.</li>
            @Html.Partial("_UPSagIMG", "MICROS")

            <li>Remove the front panel using the finger grips on the side of the panel and pivot from the bottom. </li>
            <button data-toggle="collapse" class="btn btn-primary" data-target="#ship2">Show Images</button>
            <div id="ship2" class="collapse">
                <div class="row">
                    <img src="@Url.Content("~/Images/UPSShipB.jpg")" class="img-responsive center-block" style="max-width: 300px; width: 100%; height: auto;" alt="UPSShipBImage">
                </div>
            </div>

            <li>Unplug the battery jumpers</li>
            <button data-toggle="collapse" class="btn btn-primary" data-target="#ship3">Show Images</button>
            <div id="ship3" class="collapse">
                <div class="row">
                    <img src="@Url.Content("~/Images/UPSShipC.jpg")" class="img-responsive center-block" style="max-width: 300px; width: 100%; height: auto;" alt="UPSShipCImage">
                </div>
            </div>

            <li>Stow the battery jumpers so they do not obstruct the face plate. If the unit has posts the jumpers were held on, the left jumper should go on the bottom left post, the right jumper should go on the top post.</li>
            <button data-toggle="collapse" class="btn btn-primary" data-target="#ship4">Show Images</button>
            <div id="ship4" class="collapse">
                <div class="row">
                    <img src="@Url.Content("~/Images/UPSShipD.jpg")" class="img-responsive center-block" style="max-width: 300px; width: 100%; height: auto;" alt="UPSShipDImage">
                </div>
            </div>

            <li>Replace the front cover panel, pivoting it back on in the same way as it was removed.</li>
            <button data-toggle="collapse" class="btn btn-primary" data-target="#ship5">Show Images</button>
            <div id="ship5" class="collapse">
                <div class="row">
                    <img src="@Url.Content("~/Images/UPSShipE.jpg")" class="img-responsive center-block" style="max-width: 300px; width: 100%; height: auto;" alt="UPSShipEImage">
                </div>
            </div>

            <li>Make sure the unit is well padded. If you just received a unit from UPS, we recommend reusing this box and padding. Otherwise, wrap the unit in large bubblewrap or paper void filler: the unit should be padded on every corner.</li>


        </ol>
    </div>
</div>