
@{
    ViewData["Title"] = "DevicesandPorts";
}

<h1>Devices and Ports</h1>

<div class="panel-group" id="accDevices">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accDevices" href="#Devcollapse1">Computers</a>
            </h4>
        </div>
        <div id="Devcollapse1" class="panel-collapse collapse">
            <div class="panel-body">
                <h3>ZBOX BI323</h3>


                <div class="row">
                    <div class="col-sm-3">
                        <img src="@Url.Content("~/Images/BI323A.jpg")" data-toggle="modal" data-target="#modBI323a" style="max-width:1000px; width:100%;" class="full">
                    </div>
                    <div class="col-sm-3">
                        <img src="@Url.Content("~/Images/BI323b.jpg")" data-toggle="modal" data-target="#modBI323b" style="max-width:1000px; width:100%;" class="full">
                        <ol>
                            <li class="labelColor-1">Network Cable Port</li>
                            <li class="labelColor-2">VGA Cable Port</li>
                            <li class="labelColor-3">HDMI Cable Port</li>
                            <li class="labelColor-4">USB Type A Port</li>
                            <li class="labelColor-5">Power Cable Port</li>
                            <li class="labelColor-6">DP Port (not used)</li>
                            <li class="labelColor-7">(not used)</li>
                        </ol>
                    </div>
                    <div class="col-sm-3">
                        <img src="@Url.Content("~/Images/BI323d.jpg")" data-toggle="modal" data-target="#modBI323d" style="max-width:1000px; width:100%;" class="full">
                        <ol>
                            <li class="labelColor-1">Side USB Port: May be used for data USB, likely unused</li>
                            <li class="labelColor-2">SD Port: For Data SD card (do not remove).</li>
                            <li class="labelColor-3">Power Button</li>
                        </ol>
                    </div>
                    <div class="col-sm-3">
                        <img src="@Url.Content("~/Images/Bi323e.jpg")" data-toggle="modal" data-target="#modBI323e" style="max-width:1000px; width:100%;"class="full">
                    </div>
                </div>

                <h3>ZBOX CI323</h3>

                <div class="row">
                    <div class="col-sm-3">
                        <img src="@Url.Content("~/Images/CI323a.jpg")" data-toggle="modal" data-target="#modCI323a" style="max-width:1000px; width:100%;"class="full">
                    </div>
                    <div class="col-sm-3">
                        <img src="@Url.Content("~/Images/CI323c.jpg")" data-toggle="modal" data-target="#modCI323c" style="max-width:1000px; width:100%;" class="full">
                        <ol>
                            <li class="labelColor-1">USB Type A Port</li>
                            <li class="labelColor-2">Network Cable Port</li>
                            <li class="labelColor-3">HDMI Cable Port</li>
                            <li class="labelColor-4">VGA Cable Port</li>
                            <li class="labelColor-5">Power Cable Port</li>
                            <li class="labelColor-6">Aux Network Port (Not Used Unless Directed)</li>
                            <li class="labelColor-7">DP Cable Port (Never Used)</li>
                        </ol>
                    </div>
                    <div class="col-sm-3">
                        <img src="@Url.Content("~/Images/CI323b.jpg")" data-toggle="modal" data-target="#modCI323b" style="max-width:1000px; width:100%;" class="full">
                        <ol>
                            <li class="labelColor-1">SD Card Port: For Data SD card (do not remove).</li>
                            <li class="labelColor-2">Front USB Port: May be used for data USB, Likely unused.</li>
                            <li class="labelColor-3">Power Button</li>
                        </ol>
                    </div>
                </div>

                <h3>Old Computer</h3>

                <div class="row">
                    <div class="col-sm-3">
                        <img src="@Url.Content("~/Images/OCFa.jpg")" data-toggle="modal" data-target="#modOCFa" style="max-width:1000px; width:100%;" class="full">
                    </div>
                    <div class="col-sm-3">
                        <img src="@Url.Content("~/Images/OCFb.jpg")" data-toggle="modal" data-target="#modOCFb" style="max-width:1000px; width:100%;" class="full">
                        <p>
                            Please note that not all older models of computer we use will look exactly like this.  Use this as a gide to what the ports are and what the device does instead of what it should look like.
                            It may either be upright or on it's side (both are pictured).  If you are asked by UIS for the devices serial number, please locate the <b>yellow</b> tag on the side or bottom of the device.
                        </p>
                    </div>
                    <div class="col-sm-3">
                        <img src="@Url.Content("~/Images/OCFc.jpg")" data-toggle="modal" data-target="#modOCFc" style="max-width:1000px; width:100%;" class="full">
                        <ol>
                            <li class="labelColor-1">Power Cable Port</li>
                            <li class="labelColor-2">USB Ports</li>
                            <li class="labelColor-3">DVI Cable Port</li>
                            <li class="labelColor-4">VGA Cable Port</li>
                            <li class="labelColor-5">Network Cable Port</li>
                        </ol>
                    </div>
                </div>


                <h3>Old Computer Mini</h3>


                <div class="row">
                    <div class="col-sm-3">
                        <img src="@Url.Content("~/Images/OCMa.jpg")" data-toggle="modal" data-target="#modOCMa" style="max-width:1000px; width:100%;" class="full">
                    </div>
                    <div class="col-sm-3">
                        <img src="@Url.Content("~/Images/OCMb.jpg")" data-toggle="modal" data-target="#modOCMb" style="max-width:1000px; width:100%;" class="full">
                        <p>
                            Please note that not all older models of computer we use will look exactly like this.  Use this as a gide to what the ports are and what the device does instead of what it should look like.
                            It may either be upright or on it's side (both are pictured).  If you are asked by UIS for the devices serial number, please locate the <b>yellow</b> tag on the side or bottom of the device.
                        </p>

                    </div>
                    <div class="col-sm-6">
                        <div class="row">
                            <div class="col-sm-6">
                                <img src="@Url.Content("~/Images/OCMd.jpg")" data-toggle="modal" data-target="#modOCMd" style="max-width:1000px; width:100%;" class="full">
                                <ol>
                                    <li class="labelColor-1">Power Cable Port</li>
                                    <li class="labelColor-2">VGA Cable Port</li>
                                    <li class="labelColor-3">DVI Cable Port</li>
                                    <li class="labelColor-4">USB Ports</li>
                                    <li class="labelColor-5">Network Cable Port</li>
                                    <li class="labelColor-6">Serial Ports: May be used for Metal Time Clock only</li>
                                    <li class="labelColor-7"><p>Built In Network Cable Port: Do Not Use if Network Cable Ports are avalible at point 5.</p></li>
                                </ol>
                            </div>
                            <div class="col-sm-6">
                                <img src="@Url.Content("~/Images/OCMc.jpg")" data-toggle="modal" data-target="#modOCMc" style="max-width:1000px; width:100%;" class="full">

                            </div>

                        </div>
                    </div>

                </div>

            </div>

        </div>

        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accDevices" href="#Devcollapse1b">Computer Screens and Time Clocks</a>
            </h4>
        </div>
        <div id="Devcollapse1b" class="panel-collapse collapse">
            <div class="panel-body">


                <h3>Elo 1517L Time Clock Touch Screen</h3>
                <div class="row">
                    <div class="col-sm-3">
                        <img src="@Url.Content("~/Images/ELONa.jpg")" data-toggle="modal" data-target="#modELONa" style="max-width:1000px; width:100%;" class="full">
                    </div>
                    <div class="col-sm-3">
                        <img src="@Url.Content("~/Images/ELONb.jpg")" data-toggle="modal" data-target="#modELONb" style="max-width:1000px; width:100%;" class="full">
                    </div>
                    <div class="col-sm-3">
                        <img src="@Url.Content("~/Images/ELONC.jpg")" data-toggle="modal" data-target="#modELONc" style="max-width:1000px; width:100%;" class="full">
                    </div>
                    <div class="col-sm-3">
                        <ol>
                            <li class="labelColor-1">Power Cable Port</li>
                            <li class="labelColor-2">VGA Cable Port</li>
                            <li class="labelColor-3">USB Type B Port</li>
                            <li class="labelColor-4">Unused</li>
                            <li class="labelColor-5">Unused</li>
                            <li>Buttons (left to right): <b class="labelColor-1">Menu (A)</b>, <b class="labelColor-2">Left ← (B)</b>, <b class="labelColor-3">Right → (C)</b>, <b class="labelColor-4">Select (D)</b>, <b class="labelColor-5">Power (E)</b></li>
                        </ol>
                    </div>
                </div>
                <h3>Elo 1515L Time Clock Touch Screen</h3>
                <div class="row">
                    <div class="col-sm-3">
                        <img src="@Url.Content("~/Images/ELOOa.jpg")" data-toggle="modal" data-target="#modELONa" style="max-width:1000px; width:100%;" class="full">
                    </div>
                    <div class="col-sm-3">
                        <img src="@Url.Content("~/Images/ELOOb.jpg")" data-toggle="modal" data-target="#modELONb" style="max-width:1000px; width:100%;" class="full">
                    </div>
                    <div class="col-sm-3">
                        <img src="@Url.Content("~/Images/ELOOc.jpg")" data-toggle="modal" data-target="#modELONc" style="max-width:1000px; width:100%;" class="full">
                    </div>
                    <div class="col-sm-3">
                        <ol>
                            <li class="labelColor-1">Power Cable Port</li>
                            <li class="labelColor-2">VGA Cable Port</li>
                            <li class="labelColor-3">USB Type B Port</li>
                            <li class="labelColor-4">Unused</li>
                            <li>Buttons (bottom to top when mounted): <b class="labelColor-1">Power (A)</b>, <b class="labelColor-2">Select (B)</b>, <b class="labelColor-3">Down ↓ (C)</b>, <b class="labelColor-4">Up ↑ (D)</b>, <b class="labelColor-5">Menu (E)</b></li>
                        </ol>
                    </div>
                </div>


            </div>
        </div>

        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accDevices" href="#Devcollapse2">Routers</a>
            </h4>
        </div>
        <div id="Devcollapse2" class="panel-collapse collapse">
            <div class="panel-body">
                <h3>Routers</h3>
                <h4>Register Routers</h4>
                <div class="row">
                    <div class="col-sm-6">
                        <center><u>IBR600C-150M-D</u></center>
                        <div class="row">
                            <div class="col-sm-6">
                                <ol>
                                    <li class="labelColor-1">power cable port</li>
                                    <li class="labelColor-2">reset button</li>
                                    <li class="labelColor-3">Lan port</li>
                                    <li class="labelColor-4">Wan port: nothing should be plugged into this port</li>
                                    <li class="labelColor-5">Main signal antena</li>
                                    <li class="labelColor-6">Aux signal antena</li>
                                    <li class="labelColor-7">GPS antena: nothing should be plugged into this port</li>

                                </ol>
                            </div>
                            <div class="col-sm-6">

                                <a><img src="@Url.Content("~/Images/IBR600C1.jpg")" style="max-width:500px; width:100%;" data-toggle="modal" data-target="#IBR600C1" class="full" alt=""></a>
                                <a><img src="@Url.Content("~/Images/IBR600C2.jpg")" style="max-width:500px; width:100%;" data-toggle="modal" data-target="#IBR600C2" class="full" alt=""></a>
                                <a><img src="@Url.Content("~/Images/IBR600C3.jpg")" style="max-width:500px; width:100%;" data-toggle="modal" data-target="#IBR600C3" class="full" alt=""></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <center><u>IBR600B-LP4</u></center>
                        <div class="row">
                            <div class="col-sm-6">
                                <ol>
                                    <li class="labelColor-1">reset button</li>
                                    <li class="labelColor-2">power cable port</li>
                                    <li class="labelColor-3">lan portrait</li>
                                    <li class="labelColor-4">wan Port: nothing should be plugged into this port.</li>
                                </ol>
                            </div>
                            <div class="col-sm-6">
                                <a><img src="@Url.Content("~/Images/IBR600B1.jpg")" style="max-width:500px; width:100%;" data-toggle="modal" data-target="#IBR600B1" class="full" alt=""></a>
                                <a><img src="@Url.Content("~/Images/IBR600B2.jpg")" style="max-width:500px; width:100%;" data-toggle="modal" data-target="#IBR600B2" class="full" alt=""></a>

                            </div>
                        </div>
                    </div>

                </div>
                <hr />
                <h4>UIS Office Routers</h4>
                <div class="row">
                    <div class="col-sm-6">
                        <center><u>AER1600</u></center>
                        <div class="row">
                            <div class="col-sm-6">
                                <ol>
                                    <li class="labelColor-1">Power cable port</li>
                                    <li class="labelColor-2">power switch</li>
                                    <li class="labelColor-3">Lan ports (all of these do the same thing.)</li>
                                    <li class="labelColor-4">reset button</li>
                                    <li class="labelColor-5">Wan port (do not use this port.)</li>
                                    <li class="labelColor-6">Aux antena</li>
                                    <li class="labelColor-7">Main antena</li>
                                    <li class="labelColor-8">GPS antena (do not use this port)</li>
                                </ol>
                            </div>
                            <div class="col-sm-6">

                                <a><img src="@Url.Content("~/Images/AER1600n1.jpg")" style="max-width:500px; width:100%;" data-toggle="modal" data-target="#AER1600n1" class="full" alt=""></a>
                                <a><img src="@Url.Content("~/Images/AER1600n2.jpg")" style="max-width:500px; width:100%;" data-toggle="modal" data-target="#AER1600n2" class="full" alt=""></a>
                                <a><img src="@Url.Content("~/Images/AER1600n3.jpg")" style="max-width:500px; width:100%;" data-toggle="modal" data-target="#AER1600n3" class="full" alt=""></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <center><u>E300</u></center>
                        <div class="row">
                            <div class="col-sm-6">
                                <ol>
                                    <li class="labelColor-1">Power cable port</li>
                                    <li class="labelColor-2">Power Switch</li>
                                    <li class="labelColor-3">Reset button</li>
                                    <li class="labelColor-4">Lan ports 1-4</li>
                                    <li class="labelColor-5">wan port (do not use this blue port)</li>
                                    <li class="labelColor-6">main antena</li>
                                    <li class="labelColor-7">div antena</li>
                                    <li class="labelColor-8">GNSS antena (do not use this port)</li>
                                </ol>
                            </div>
                            <div class="col-sm-6">
                                <a><img src="@Url.Content("~/Images/E300n1.jpg")" style="max-width:500px; width:100%;" data-toggle="modal" data-target="#E300n1" class="full" alt=""></a>
                                <a><img src="@Url.Content("~/Images/E300n2.jpg")" style="max-width:500px; width:100%;" data-toggle="modal" data-target="#E300n2" class="full" alt=""></a>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>



        <!--
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accDevices" href="#Devcollapse3">Registers</a>
            </h4>
        </div>
        <div id="Devcollapse3" class="panel-collapse collapse">
            <div class="panel-body">

                <h3>Register Setups</h3>
                <h4>Above the counter</h4>
                <div class="row">
                    <div class="col-sm-6">
                        <u><center>NCR 7746</center></u>
                        <div class="row">
                            <div class="col-sm-6">
                                <a><img src="@Url.Content("~/Images/RegiSetup1.jpg")" style="max-width:500px; width:100%;" data-toggle="modal" data-target="#RegiSetup1" class="full"></a>
                            </div>
                            <div class="col-sm-6">
                                <p>This register set up will have the NCR 7746 register unit <b class="labelColor-1">(1)</b>, an NCR thermal receipt printer<b class="labelColor-2">(2)</b>, an NCR customer display and chip reader<b class="labelColor-3">(3)</b>, and a cashdrawr above the counter.</p>
                                <p>The cash drawer will have only one cable plugged into it: the cash drawer cable should be plugged into the register unit <b class="labelColor-1">(1)</b>.</p>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-sm-6">
                                <a><img src="@Url.Content("~/Images/RegiSetup7746.jpg")" style="max-width:500px; width:100%;" data-toggle="modal" data-target="#RegiSetup7746" class="full"></a>
                                <br />
                                <br />
                                <a><img src="@Url.Content("~/Images/RegiSetup7746Cab.jpg")" style="max-width:500px; width:100%;" data-toggle="modal" data-target="#RegiSetup7746Cab" class="full"></a>
                            </div>
                            <DIV CLASS="col-sm-6">
                                <p>There are a total of 5 cables that should go to your register.  They connect to the following</p>
                                <ol>
                                    <li class="labelColor-1">The cash drawer cable: it will be black, it is specific to your cash drawer</li>
                                    <li class="labelColor-2">The thermal receipt printer.  This is a USB type A to USB type B cable.  It should only use one of these USB ports.</li>
                                    <li class="labelColor-3">The customer display cable.  If your unit does not have a customer display but uses this model, this port will be empty.</li>
                                    <li class="labelColor-4">The lan port: this will be a network cable, likely yellow, that connects to the router below the counter.</li>
                                    <li class="labelColor-5">12V power: this is the power cable, it powers this unit and should be plugged into the powervar/ups battery backup.</li>
                                </ol>
                            </DIV>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <u><center>NCR 7744</center></u>
                        <div class="row">
                            <div class="col-sm-6">
                                <a><img src="@Url.Content("~/Images/RegiSetup2.jpg")" style="max-width:500px; width:100%;" data-toggle="modal" data-target="#RegiSetup2" class="full"></a>

                            </div>
                            <div class="col-sm-6">
                                <p>This register set up will have the NCR 7746 register unit <b class="labelColor-1">(1)</b>, an NCR thermal receipt printer<b class="labelColor-2">(2)</b>, and a cashdrawr above the counter.</p>
                                <p>The cash drawer will have only one cable plugged into it: the cash drawer cable should be plugged into the register unit <b class="labelColor-1">(1)</b>.</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <a><img src="@Url.Content("~/Images/RegiSetup7744.jpg")" style="max-width:500px; width:100%;" data-toggle="modal" data-target="#RegiSetup7744" class="full"></a>
                                <br />
                                <br />
                                <a><img src="@Url.Content("~/Images/RegiSetup7744Cab.jpg")" style="max-width:500px; width:100%;" data-toggle="modal" data-target="#RegiSetup7744Cab" class="full"></a>
                                <br />
                                <br />
                                <a><img src="@Url.Content("~/Images/RegiSetup7744Close.jpg")" style="max-width:500px; width:100%;" data-toggle="modal" data-target="#RegiSetup7744Close" class="full"></a>
                            </div>
                            <DIV CLASS="col-sm-6">
                                <p>There are a total of 4 cables that should go to your register.  They connect to the following</p>
                                <ol>
                                    <li class="labelColor-1">The cash drawer cable: it will be black, it is specific to your cash drawer</li>
                                    <li class="labelColor-2">The thermal receipt printer.  This is a USB type A to USB type B cable.  It should only use one of these USB ports.</li>
                                    <li class="labelColor-3">Power: this is the power cable, it powers this unit and should be plugged into the powervar/ups battery backup.</li>
                                    <li class="labelColor-4">The lan port: this will be a network cable, likely yellow, that connects to the router below the counter.</li>
                                </ol>
                                <p>The cover benieth the unit should be closed and the thumb screw securing it should be secured so the unit sits flat on the cash drawer.</p>
                            </DIV>
                        </div>
                    </div>
                </div>
                <hr />
                <center><h4><u>NCR 7746 Customer Display and Chip Reader</u></h4></center>
                <div class="row">
                    <div class="col-sm-3">
                        <center><u>Full Display Unit</u></center>
                        <img src="@Url.Content("~/Images/CDisplay.jpg")" style="max-width:500px; width:100%;" class="full">
                    </div>
                    <div class="col-sm-3">
                        <center><u>Display Unit: USB C Cable</u></center>
                        <a><img src="@Url.Content("~/Images/USBcDiagram.png")" style="max-width:500px; width:100%;" data-toggle="modal" data-target="#USBcDiagram" class="full"></a>
                    </div>
                    <div class="col-sm-3">
                        <center><u>Chip Reader Unit: Mini USB Cable</u></center>
                        <a><img src="@Url.Content("~/Images/USBminiD.png")" style="max-width:500px; width:100%;" data-toggle="modal" data-target="#USBminiD" class="full"></a>
                    </div>
                    <div class="col-sm-3">
                        <ul>
                            <li>The USB C cable (1) connects to the NCR 7746 register.</li>
                            <li>The mini USB cable (2) connects between the screen and the chip reader: it will be blue</li>
                        </ul>
                    </div>
                </div>
                <center><u>Assembly of the unit.</u></center>
                <div class="row">
                    <div class="col-sm-3">
                        <ol>
                            <li>Plug the chip reader unit <b class="labelColor-1">(A)</b> into the blue mini usb cable.<b class="labelColor-2">(B)</b></li>
                            <li>Place the chip reader <b class="labelColor-1">(A)</b> into the plastic cover <b class="labelColor-3">(C)</b> such that the card slot faces out</li>
                            <li>The blue mini USB cable should be fed through a small slot in the plastic cover.</li>
                            <li>
                                Slide the plastic cover and chip reader into the metal unit mounting (D).  The blue cable should go towards the bottom of the unit.<br />
                                The chip reader <b class="labelColor-1">(A)</b> should be accessable at the top of the unit, where the blue mini USB (B) should be visible at the bottom.
                            </li>
                            <li>
                                Attach the cover <b class="labelColor-3">(C)</b> to the metal mounting <b class="labelColor-4">(D)</b> with the 4 screws at the back.<br />
                                If the screws holes on the cover unit do not line up with those on the mounting unit, gently lift the cover unit so that they do.
                            </li>
                            <li>
                                If the screen unit <b class="labelColor-5">(E)</b> is not already attached to the mount, attach it to the mount.  Its cable ports should face away from the chip reader<br />
                                The easiest way to attach this part of the unit is to olace the screen unit on the edge of a table or counter and allow the chip reader to extend off of the counter.  With one hand, steady the mounting unit.  With the other, screw in the screws.<br />
                            </li>
                            <li>plug the blue mini USB cable <b class="labelColor-2">(B)</b> into the screen <b class="labelColor-5">(E)</b></li>
                            <li>plug the USB type C cable <b class="labelColor-6">(F)</b> into the screen <b class="labelColor-5">(E)</b>.  It may be fed through a slot in the back of the unit to prevent the appearence of clutter on the customer side of the unit.</li>
                            <li>plug the other end of the USB type C cable <b class="labelColor-6">(F)</b> into the NCR 7746 register unit <b class="labelColor-7">(G)</b></li>

                        </ol>
                    </div>
                    <div class="col-sm-9">
                        <div class="row">
                            <div class="col-sm-4">
                                <a><img src="@Url.Content("~/Images/CDisplay1.jpg")" style="max-width:500px; width:100%;" data-toggle="modal" data-target="#CDisplay1" class="full"></a>
                                <p>1. chip reader unit</p>
                            </div>
                            <div class="col-sm-4">
                                <a><img src="@Url.Content("~/Images/CDisplay2.jpg")" style="max-width:500px; width:100%;" data-toggle="modal" data-target="#CDisplay2" class="full"></a>
                                <p>2. plastic cover</p>
                            </div>
                            <div class="col-sm-4">
                                <a><img src="@Url.Content("~/Images/CDisplay3.jpg")" style="max-width:500px; width:100%;" data-toggle="modal" data-target="#CDisplay3" class="full"></a>
                                <p>3. Chip reader in the cover</p>
                            </div>
                        </div>
                        <hr />
                        <div class="row">
                            <div class="col-sm-4">
                                <a><img src="@Url.Content("~/Images/CDisplay4.jpg")" style="max-width:500px; width:100%;" data-toggle="modal" data-target="#CDisplay4" class="full"></a>
                                <p>4. Slide the chip reader in</p>
                            </div>
                            <div class="col-sm-4">
                                <a><img src="@Url.Content("~/Images/CDisplay4b.jpg")" style="max-width:500px; width:100%;" data-toggle="modal" data-target="#CDisplay4b" class="full"></a>
                                <p></p>
                            </div>
                            <div class="col-sm-4">
                                <a><img src="@Url.Content("~/Images/CDisplay5.jpg")" style="max-width:500px; width:100%;" data-toggle="modal" data-target="#CDisplay5" class="full"></a>
                                <p>5. Attach the cover and mount</p>
                            </div>
                        </div>
                        <hr />
                        <div class="row">
                            <div class="col-sm-4">
                                <a><img src="@Url.Content("~/Images/CDisplay6.jpg")" style="max-width:500px; width:100%;" data-toggle="modal" data-target="#CDisplay6" class="full"></a>
                                <p>6. Mount the screen</p>
                            </div>
                            <div class="col-sm-4">
                                <a><img src="@Url.Content("~/Images/CDisplay6b.jpg")" style="max-width:500px; width:100%;" data-toggle="modal" data-target="#CDisplay6b" class="full"></a>
                                <p></p>
                            </div>
                            <div class="col-sm-4">
                                <a><img src="@Url.Content("~/Images/CDisplay6c.jpg")" style="max-width:500px; width:100%;" data-toggle="modal" data-target="#CDisplay6c" class="full"></a>
                                <p>Unit with mounted screen.</p>
                            </div>
                        </div>
                        <hr />
                        <div class="row">
                            <div class="col-sm-4">
                                <a><img src="@Url.Content("~/Images/CDisplay7.jpg")" style="max-width:500px; width:100%;" data-toggle="modal" data-target="#CDisplay7" class="full"></a>
                                <p>7. Plug in the mini USB</p>
                            </div>
                            <div class="col-sm-4">
                                <a><img src="@Url.Content("~/Images/CDisplay8.jpg")" style="max-width:500px; width:100%;" data-toggle="modal" data-target="#CDisplay8" class="full"></a>
                                <p>8. Plug in the USB type C</p>
                            </div>
                            <div class="col-sm-4">
                                <a><img src="@Url.Content("~/Images/CDisplay9.jpg")" style="max-width:500px; width:100%;" data-toggle="modal" data-target="#CDisplay9" class="full"></a>
                                <p>9. Plug into the register.</p>
                            </div>
                        </div>

                    </div>
                </div>
                <hr />
                <p>
                    If you need to replace the chip reader portion of this unit, you do not need to remove the screen, only the chip reader cover.  It is best to unplug both the USB type C and blue mini USB cable from the screen while doing so
                    as the USB type C cable may get in the way while replacing the chip reader.
                </p><br />
                <hr />
                <center><h4><U>Register Printer</h4></u></center>
                <div class="row">
                    <div class="col-sm-9">
                        <p>The NCR Thermal receipt Printer is used for every type of register.  There are 2 models, both have the same types of ports and thus are set up the same.</p>
                        <ul>
                            <li>The USB type B port (1) should be used to connect the printer to the register.</li>
                            <li>The power cable port (2) should be plugged into the powervar/UPS battery backup</li>
                            <li>The Lan port is not used on the receipt printer</li>
                        </ul>
                    </div>
                    <div class="col-sm-3">
                        <a><img src="@Url.Content("~/Images/RecieptPrinterPort.jpg")" style="max-width:500px; width:100%;" data-toggle="modal" data-target="#RecieptPrinterPort" class="full"></a>
                    </div>
                </div>
                <br /><br />
                <hr />
                <center><h4><U>Below the counter: Powervar/UPS and router.</h4></u></center>
                <div class="row">
                    <div class="col-sm-8">
                        <p>The router and powervar/UPS are found below the counter.</p>
                        <ul>
                            <li>The router will have 2 cables plugged into it:</li>
                            <ul>
                                <li>The power cable plugged into the powervar/UPS(1)</li>
                                <li>The network cable which will be yellow or red (2)</li>
                            </ul>
                            <li>
                                The Powervar/UPS will have 3 things plugged into it:
                                <ul>
                                    <li>The power chord for the router (3).  It is better to plug this into the top outlet to save space.</li>
                                    <li>The power chord for the register (4)</li>
                                    <li>The power chord for the receipt printer (5)</li>
                                </ul>
                            <li>It is best to keep the cables coiled but for the length needed to connect different elements in case an element needs to be replaced</li>
                            <li>The router and cables may be secured with velcrow, but should not be on top of the powervar, as this will cause them to opperate at higher tempuratures than they are rated for, and may damage the powervar/UPS, Router, or power cables, causing them to fail</li>
                            <li>If there are multiple registers at the unit, they will be plugged into a powerstrip which is plugged into the powervar/UPS.</li>
                            <li>Do not plug in personal devices into the powervar/UPS or unplug the powervar/UPS</li>
                        </ul>
                    </div>
                    <div class="col-sm-4">
                        <a><img src="@Url.Content("~/Images/RegiSetupBelow.jpg")" style="max-width:500px; width:100%;" data-toggle="modal" data-target="#RegiSetupBelow" class="full"></a>
                    </div>
                </div>

            </div>
        </div>
        -->

        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accDevices" href="#Devcollapse4">Cables and Adapters</a>
            </h4>
        </div>
        <div id="Devcollapse4" class="panel-collapse collapse">
            <div class="panel-body">
                <u><h3>Cables And Adapters</h3></u>
                <h4>Network/Ethernet Cables</h4>
                <div class="row">
                    <div class="col-sm-3">
                        <a><img src="@Url.Content("~/Images/ethernet1.png")" style="max-width:500px; width:100%;" data-toggle="modal" data-target="#ethernet1" alt="Ethernet Cable" class="full"></a>
                    </div>
                    <div class="col-sm-3">
                        <a><img src="@Url.Content("~/Images/ethernet2.png")" style="max-width:500px;  width:100%;" data-toggle="modal" data-target="#ethernet2" alt="Ethernet Cable" class="full"></a>
                    </div>
                    <div class="col-sm-3">
                        <a><img src="@Url.Content("~/Images/ethernet3.png")" style="max-width:500px; width:100%;" data-toggle="modal" data-target="#ethernet3" alt="Ethernet Cable" class="full"></a>
                    </div>
                    <div class="col-sm-3">
                        <p>
                            The ethernet/network cables provide internet to a device from a router: they are used for the register, UIS computer and time clock, phone, and CCTV system.
                            They come in red, yellow, black, blue, and white.  While they all behave the same, they should be used for their directed purpose as this helpse with future troubleshooting:
                            If there is a problem with the phones, it is easier to check just the black network/ethernet cable than every single cable.
                        </p>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-sm-3">
                        <a><img src="@Url.Content("~/Images/CableUSBAtoB.png")" style="max-width:500px; width:100%;" data-toggle="modal" data-target="#CableUSBAtoB" alt="Ethernet Cable" class="full"></a>
                        <u><p>USB A to USB C cable.</p></u>
                    </div>
                    <div class="col-sm-3">
                    </div>
                </div>
                <h4>Video VGA Cable and Adapters</h4>
                <div class="row">
                    <div class="col-sm-3">
                        <u>VGA Cable</u>
                        <a><img src="@Url.Content("~/Images/vga.png")" style="max-width:500px; width:100%;" data-toggle="modal" data-target="#vga" alt="VGA Cable" class="full"></a>
                    </div>
                    <!--
                    <div class="col-sm-3">
                        <u>VGA to DVI Adapter</u>
                        <a><img src="@Url.Content("~/Images/TC-SetUpO1.png")" style="max-width:500px; width:100%;" data-toggle="modal" data-target="#TC-SetUpO1" alt="1" class="full"></a>
                    </div>
                    -->
                    <div class="col-sm-3">
                        <u>VGA to HDMI Adapter</u>
                        <a><img src="@Url.Content("~/Images/HDMItoVGAdiv.png")" style="max-width:500px; width:100%;" data-toggle="modal" data-target="#HDMItoVGAdiv" alt="Ethernet Cable" class="full"></a>
                    </div>
                    <div class="col-sm-3">
                        <p>
                            The VGA cable is used to bring the image to the screen on monitors for the UIS computer.  Newer "Z-box" computers use the VGA to HDMI adapter for their second screen while older computers
                            will likely use the VGA to DVI adapter if the do not already have two VGA ports on them.  Make sure to follow the provided setup instructions in case there are problems, as this helps with troubleshooting.
                        </p>
                    </div>
                </div>
                <hr />
                <h4>Power Cables</h4>
                <div class="row">
                    <div class="col-sm-6">
                        <u>CC Router Power</u>
                        <div class="row">
                            <div class="col-sm-6">
                                <a><img src="@Url.Content("~/Images/ccPow.png")" style="max-width:500px; width:100%;" data-toggle="modal" data-target="#ccPow" class="full"></a>
                            </div>
                            <div class="col-sm-6">
                                <p>Used for most routers: IBR600C-150M-D, IBR600B-LP4, and E300.  It is possibly labeled "CC Router Power" on the outlet side.</p>
                            </div>
                        </div>

                    </div>
                    <!--
                    <div class="col-sm-6">
                        <u>NCR 7744 power cable</u>
                        <div class="row">
                            <div class="col-sm-6">
                                <a><img src="@Url.Content("~/Images/Nc44Pow.png")" style="max-width:500px; width:100%;" data-toggle="modal" data-target="#Nc44Pow" class="full"></a>
                            </div>
                            <div class="col-sm-6">
                                <p>Looks similar to the CC Router Power cable, but is rated at 24V 1.67A.  Only Used for the NCR 7744 Register.</p>
                            </div>
                        </div>

                    </div>
                    -->
                    <div class="col-sm-6">
                        <u>THermal Receipt Printer Power Cable</u>
                        <div class="row">
                            <div class="col-sm-6">
                                <a><img src="@Url.Content("~/Images/RcPow.png")" style="max-width:500px; width:100%;" data-toggle="modal" data-target="#RcPow" class="full"></a>
                            </div>
                            <div class="col-sm-6">
                                <p>Used for the thermal reciept printer.</p>
                            </div>


                        </div>

                    </div>

                    <div class="col-sm-12">
                        <!--
                        <hr />
                        <h4>DC power transformers</h4>
                        <p>
                            Several different devices use DC power transformers, each may need a different voltage.  Only use the one provided with each device for said device to ensure the longevity of the device.
                            If you get two devices chords confused, you may refer to the info sheet on the chord and device as follows:
                        </p>
                        <div class="row">
                            <div class="col-sm-4">
                                <a><img src="@Url.Content("~/Images/DCRef1.jpg")" style="max-width:500px; width:100%;" data-toggle="modal" data-target="#DCRef1" class="full"></a>
                            </div>
                            <div class="col-sm-4">
                                <a><img src="@Url.Content("~/Images/DCRef2.jpg")" style="max-width:500px; width:100%;" data-toggle="modal" data-target="#DCRef2" class="full"></a>
                            </div>
                            <div class="col-sm-4">
                                <p>As long as the voltage and ampage on the power chord and device match, the device should function properly.</p>
                            </div>
                        </div>
                        -->
                        <h4>Devices that use DC power transformers</h4>
                        <div class="row">
                            <div class="col-sm-6">
                                <u>AER1600</u>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <a><img src="@Url.Content("~/Images/cp12V3A.png")" style="max-width:500px; width:100%;" data-toggle="modal" data-target="#cp12V3A" class="full"></a>
                                    </div>
                                    <div class="col-sm-6">
                                        <p>The AER1600 uses a 12V 3A DC transformer</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <u>ATA Phone Modem</u>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <a><img src="@Url.Content("~/Images/12V3A.png")" style="max-width:500px; width:100%;" data-toggle="modal" data-target="#cp12V" class="full"></a>
                                    </div>
                                    <div class="col-sm-6">
                                        <p>The ATA phone modem uses a 12V DC transformer</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <u>Zotak BI323</u>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <a><img src="@Url.Content("~/Images/cp12V342A.png")" style="max-width:500px; width:100%;" data-toggle="modal" data-target="#cp12V342A" class="full"></a>
                                    </div>
                                    <div class="col-sm-6">
                                        <p>The BI323 uses a 19V 4.74A DC transformer</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <u>Zotak CI323</u>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <a><a><img src="@Url.Content("~/Images/cp12V21A.png")" style="max-width:500px; width:100%;" data-toggle="modal" data-target="#cp12V21A" data-toggle="modal" data-target="#cp12V342A" class="full"></a></a>
                                    </div>
                                    <div class="col-sm-6">
                                        <p>The CI323 uses a 19V 2.1A DC transformer</p>
                                    </div>
                                </div>
                            </div>
                            <!--
                            <div class="col-sm-6">
                                <u>NCR 7746</u>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <a><img src="@Url.Content("~/Images/774620V.png")" style="max-width:500px; width:100%;" data-toggle="modal" data-target="#774620V" class="full"></a>
                                    </div>
                                    <div class="col-sm-6">
                                        <p>The NCR 7746 uses a 20V 3.33A DC transformer</p>
                                    </div>
                                </div>
                            </div>
                            -->
                        </div>
                        <hr />
                    </div>




                </div>
            </div>
        </div>
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accDevices" href="#Devcollapse6">Phone</a>
            </h4>
        </div>
        <div id="Devcollapse6" class="panel-collapse collapse">
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-3">
                        <a><img src="@Url.Content("~/Images/Phone.png")" data-toggle="modal" data-target="#Phone" style="max-width:1000px; width:100%;" class="full"></a>
                    </div>
                    <div class="col-sm-3">
                        The phone on the right should be in the office.
                        The phone on the left should be in the front near the TSR screen.

                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3">
                        <a><img src="@Url.Content("~/Images/ATA.png")" data-toggle="modal" data-target="#ATA" style="max-width:1000px; width:100%;" class="full"></a>
                    </div>
                    <div class="col-sm-3">
                        <p>
                            Polycom ATA – Phone Modem:
                            Should be in the office mounted to the wall
                        </p>


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

