
@{
    ViewData["Title"] = "MICROS";
}

<h3>MICROS/Oracle Registers</h3>
<div class="panel-group" id="accMicro">
    <div class="panel panel-default">
        <!--<div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accMicro" href="#MicCollapse0">External Links</a>
            </h4>
        </div>-->
        <div id="MicCollapse0" class="panel-collapse collapse">
            <div class="panel-body">
                <p></p>
                <table class="table">
                    <tr>
                        <td>
                            <strong>Division Spare Form</strong>
                            <i>For Division Managers to declare/update the status of their spare equipment</i>
                        </td>
                        <td>
                            <a href="https://info.wafflehouse.com/OpsExpress/DesktopDefault.aspx?tabindex=33&tabid=77&moduleid=8796" class="btn btn-primary">Open</a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <strong>Unit Inventory </strong>
                        </td>
                        <td>
                            <a href="DesktopModules/StaffingS3/OnlineSchedulingSSO.aspx?id=OLS" target="_blank" class="btn btn-primary">Open</a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <strong>Micros Equipment Verification</strong>
                        </td>
                        <td>
                            <a href="https://info.wafflehouse.com/VerifyMicros" target="_blank" class="btn btn-primary">Open</a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <strong>Installation Guide</strong>
                        </td>
                        <td>
                            <a href="https://info.wafflehouse.com/OpsExpress/Content/Documents/Micros/Micros Oracle Install Guide.pdf" target="_blank" class="btn btn-primary">Open</a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <strong>Quick Reference Guide</strong>
                        </td>
                        <td>
                            <a href="https://info.wafflehouse.com/OpsExpress/Content/Documents/Micros/MicrosOracleQuickReferenceGuide.pdf" target="_blank" class="btn btn-primary">Open</a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <strong>Coaching Flash</strong>
                        </td>
                        <td>
                            <a href="https://info.wafflehouse.com/OpsExpress/Content/Documents/Micros/Oracle CF.pdf" target="_blank" class="btn btn-primary">Open</a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <strong>Micros Installation Completion Form</strong>
                            <i>(Please call 1-800-305-8649 as final step to complete install process.)</i>
                        </td>
                        <td>
                            <a href="https://info2.wafflehouse.com/UnitOperations/MicrosUnit/InstallationCompletionForm" target="_blank" class="btn btn-primary">Open</a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <strong>How to Read MICROS X, Z, and UIS</strong>
                        </td>
                        <td>
                            <a href="https://info.wafflehouse.com/OpsExpress/Content/Documents/Micros/MicrosHowtoReadXZandUIS.pdf" target="_blank" class="btn btn-primary">Open</a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <strong>How To Read MICROS Till Report</strong>
                        </td>
                        <td>
                            <a href="https://info.wafflehouse.com/OpsExpress/Content/Documents/Micros/Micros How to Read - Till Report.pdf" target="_blank" class="btn btn-primary">Open</a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <strong>How to Set Up OLO on a Micros Terminal</strong>
                        </td>
                        <td>
                            <a href="https://info.wafflehouse.com/OpsExpress/UISHelp/OLOMicrosHelp.html" target="_blank" class="btn btn-primary">Open</a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <strong>OLO MGMT Coaching Flash </strong>
                        </td>
                        <td>
                            <a href="https://info.wafflehouse.com/OpsExpress/Content/Documents/Micros/OLOMgmtCF.pdf" target="_blank" class="btn btn-primary">Open</a>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <strong>OLO Associate Coaching Flash</strong>
                        </td>
                        <td>
                            <a href="https://info.wafflehouse.com/OpsExpress/Content/Documents/Micros/OLO%20ASSOCIATE%20CF%209-8-23.pdf" target="_blank" class="btn btn-primary">Open</a>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <strong>OLO Quick Guide </strong>
                        </td>
                        <td>
                            <a href="https://info.wafflehouse.com/OpsExpress/Content/Documents/Micros/OLOQuickGuide.pdf" target="_blank" class="btn btn-primary">Open</a>
                        </td>
                    </tr>

                </table>
            </div>
        </div>
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accMicro" href="#MicCollapse1">Making a Sale</a>
            </h4>
        </div>
        <div id="MicCollapse1" class="panel-collapse collapse">
            <div class="panel-body">
                <h3>Making a Sale on a Micros/Oracle register</h3>
                <i>
                    This is a mirror of the sections found on the Oracle MICROS Register Reference Guide that was sent with the register and can be found
                    <a href="https://info.wafflehouse.com/OpsExpress/Content/Documents/Micros/MicrosOracleQuickReferenceGuide.pdf" target="_blank">here</a>
                </i>
                <h4>Cash Sale</h4>
                <ol>
                    <li>Tap Dine-in or To-Go. </li>
                    <li>Enter the total amount of the ticket and hit Done</li>
                    <ul>
                        <li>If you enter an amount over $100, the system will alert you to confirm the ticket amount.</li>
                        <li>The Quick Pay $20 and $50 are on the same screen.</li>
                        <li>Press Cash to enter the amount received.</li>
                        <li>Tap Gift Card Split Check Other (for other Cash Options)</li>
                        <li>Tap the dollar buttons ($5, $10, $20, $50) if the customer hands you one of those bills.</li>
                        <li>Tap Exact Change if the customer gives you the exact amount due.</li>
                        <li>Tap Next Dollar if the customer “rounds up” the ticket amount to the next whole dollar (Example: Ticket amount was $4.95, and the customer hands you a $5 bill).</li>
                        <li>Tap Cash and enter the amount of Cash</li>
                    </ul>
                    <li>The cash drawer will open, the receipt will print, and the system will display the Change Due screen.  It will ask you if the customer wants a copy of the Receipt</li>
                    <li>Staple the receipt to the Yellow Guest Check.</li>
                    <ul>
                        <li>Tap Cash and enter the amount of Cash</li>
                        <li>It will ask you if the customer wants a copy of the Receipt</li>
                    </ul>
                </ol>
                <b><i>Special Note:  The minimum amount of a check is .50 cents.</b></i>
                <br />
                <hr />
                <h4>Credit Card Sale</h4>
                <ol>
                    <li>Tap Dine-in or To-Go. </li>
                    <li>Enter the total amount of the ticket and hit Done</li>
                    <ul>
                        <li>If you enter an amount over $100, the system will alert you to confirm the ticket amount.</li>
                    </ul>
                    <li>Tap CARD</li>
                    <ul>
                        <li>The customer will follow the prompts on the Pin Pad to Enter Tip</li>
                        <li>The customer will then tap, insert, or swipe their card.</li>
                        <li>Staple the receipt to the Yellow Guest Check.</li>
                        <li>It will ask you if the customer wants a copy of the Receipt</li>
                    </ul>
                </ol>
                <b><i>Special Note:  The minimum amount of a check is .50 cents.</b></i>
                <br /><hr />
                <h4>Reprint Last Ticket</h4>
                <ol>Tap the Reprint Last Ticket button.</ol>
                <br /><hr />
                <h4>Split Check Evenly</h4>
                <ol>
                    <li>Tap Gift Card/Split Check/Other</li>
                    <li>Tap Equal Pay On/Off</li>
                    <li>Enter the number of ways to split the check evenly.</li>
                    <li>You can than process each Card one at a time.</li>
                </ol>
                <br /><hr />
                <h4>Split Check Between Two Different Payment Methods/Split Check Unevenly</h4>
                <ol>
                    <li>Tap the payment method of the first payment method. Enter the amount intended to pay with this method. For Cards, this will default to the full amount.</li>
                    <li>The ticket will remain open until the entire ticket is paid. Tap the next payment method and enter the desired amount as before.</li>
                </ol>
                <b><i>Special Note:  Gift cards should not be used for tips on Split Checks</i></b>
                <br /><hr />
                <h4>Waffle House Gift Cards</h4>
                <ol>
                    Please see the section pertaining to Waffle House Gift Cards
                </ol>


            </div>
        </div>

        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accMicro" href="#MicCollapse2">Register Functions</a>
            </h4>
        </div>
        <div id="MicCollapse2" class="panel-collapse collapse">
            <div class="panel-body">
                <h3>Oracle MICROS Register Functions</h3>
                <i>
                    This is a mirror of the sections found on the Oracle MICROS Register Reference Guide that was sent with the register and can be found
                    <a href="https://info.wafflehouse.com/OpsExpress/Content/Documents/Micros/MicrosOracleQuickReferenceGuide.pdf" target="_blank">here</a>
                </i>
                <H4>Reprint Last Ticket</H4>
                <ol>Tap the Reprint Last Ticket button.</ol>
                <br /><hr />
                <h4>Tip Out	</h4>
                <ol>
                    <li>Tap Functions</li>
                    <li>Tap Tip Out. </li>
                    <li>Enter the amount of tips you are taking out of the Drawer. </li>
                    <li>Enter your name and hit OK. </li>
                    <li>The cash drawer will open and the Tip Out receipt will print. </li>
                </ol>
                <br /><hr />
                <h4>Refunds/Voids</h4>
                <ol>
                    <li>Tap Functions</li>
                    <li>Tap Manager</li>
                    <li>Under Functions</li>
                    <li>Choose Void Check List or Void Check</li>
                    <ul>
                        <li>From the list find check you would like to refund or enter the check number if you chose Void Check</li>
                        <li>Highlight the transaction and hit Ok</li>
                        <li>Confirm you want to void/refund the transaction</li>
                    </ul>
                </ol>
                <br /><hr />
                <h4>No Sale	</h4>
                <ol>
                    <li>Tap Functions</li>
                    <li>Tap No Sale. </li>
                    <li>Tap Select No Sale Reason and hit OK. </li>
                    <li>The cash drawer will open. </li>
                </ol>
                <br /><hr />
                <h4>Paid Out</h4>
                <ol>
                    <li>Tap Functions</li>
                    <li>Tap Paid Out. </li>
                    <li>Enter the amount. </li>
                    <li>Select a reason and hit OK. </li>
                    <li>The cash drawer will open and the Pay Out receipt will print. </li>
                </ol>
                <br /><hr />
                <h4>Change Drawer</h4>
                <ol>
                    Run this option to transition to a new till
                    <li>Confirm Yes or No
                    <li>
                        Will Print the Till Report
                        <ul>
                            <li>All Tip Outs should be done prior to running</li>
                        </ul>
                </ol>
                <br /><hr />
                <h4>X-Report</h4>
                <ol>
                    <li>Provides current Tender Type information</li>
                    <li>Use this report to review current shift credit cards and tips</li>
                </ol>
                <br /><hr />
                <h4>Transaction Journal</h4>
                <ol>Lists all Sales, Refunds and Voids in chronical order</ol>
                <br /><hr />
                <h4>Audit Report</h4>
                <ol>
                    <li>List all No Sales, Refunds, Ticket Reprints and Paid Outs</li>
                    <li>Includes date, time and amount</li>
                    <li>Use in conjunction with CCTV to research any anomalies</li>
                </ol>
                <br /><hr />
                <h4>Reprint Reports</h4>
                <ol>
                    <li>Press the report you would like to reprint from the previous report’s column</li>
                    <li>Choose the shift that you would like to reprint from the list</li>
                </ol>
                <br /><hr />
                <h4>Z-Report</h4>
                <ul>
                    <li>Only Available after 2pm(2nd), 9pm(3rd) and 7am(1st)</li>
                    <li>Use this report enter Sales and Register Readings in UIS</li>
                </ul>
                <br /><hr />
                <h4>Restart the Workstation</h4>
                <ul>Press and release the power button to perform a graceful shutdown. The power button is an actual button found below the power icon at the bottom right. The shutdown process may take up to 10 seconds to complete. Once complete press the power button and the workstation will boot back up the Sign In screen.</ul>
                <br /><hr />
                <h4>Sign in after reboot</h4>
                <ul>Tap Ticket Entry in the upper right corner of the Waffle Screen </ul>
                <br /><hr />
                <h4>End of Shift / Change Drawer</h4>
                <ol>
                    <li>Tap Functions</li>
                    <li>Tap Manager</li>
                    <li>Tap Change Drawer</li>
                    <li>Answer Yes.  A till Report will print out, use this to reconcile the cash in the drawer.</li>
                </ol>

            </div>
        </div>
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accMicro" href="#MicCollapse3">Router</a>
            </h4>
        </div>
        <div id="MicCollapse3" class="panel-collapse collapse">
            <div class="panel-body">
                <h4>Credit Card Router</h4>
                <p><b>The credit card router is the only internet source for the TSR</b></p>
                <p>When setting up the small cradle point router, ensure that the following is plugged in:</p>
                <p>Note: the model number of the router can be found on the label beneath the router. </p>

                <ol>
                    <li>Antennas - one of the antennas needs to be placed on the Main prong, and the other antenna needs to be placed on the Aux prong. </li>
                    <li>Ethernet Cable/Network Cable - This cable should be plugged into the LAN port on the back of the router. </li>
                    <li>Power cable - The power cable plugs into a four-prong port on the back of the router on the left-hand side. </li>
                </ol>
                <div class="row">
                    <div class="col-sm-4 text-center">
                        <h5><u>IBR600C-150M-D</u></h5>
                        <div style="width: 300px; margin: 0 auto;">
                            <img src="@Url.Content("~/Images/RegRouterTh.jpg")" data-toggle="modal" data-target="#RegRouterTh" class="img-responsive" style="max-width: 300px; height: auto;" />
                            <p>This is the router model you are most likely to receive if you have ordered a new one.</p>
                            <img src="@Url.Content("~/Images/RegRouterThF.jpg")" data-toggle="modal" data-target="#RegRouterThF" class="img-responsive" style="max-width: 300px; height: auto;" />
                            <p>The antena (either a black paddle or a black poll) attach to the main <b class="labelColor-1">(A)</b> and aux <b class="labelColor-2">(B)</b> ports.  Do not attach an antena to the GPS port.</p>
                            <img src="@Url.Content("~/Images/RegRouterThBM.png")" data-toggle="modal" data-target="#RegRouterThB" class="img-responsive" style="max-width: 300px; height: auto;" />
                            <p>
                                The register's network cable should be plugged into the Lan port <b class="labelColor-3">(A)</b>.  The customer display network cable should be plugged into the Wan port <b class="labelColor-4">(B)</b>.  The register should be plugged into the Lan port <b class="labelColor-3">(A)</b>.  <b class="labelColor-5">(C)</b> is the reset button.
                                Make sure the power cable <b class="labelColor-6">(D)</b> is plugged into the Powervar.  
                                into the USB port
                            </p>
                        </div>
                    </div>
                    <div class="col-sm-4 text-center">
                        <h5><u>IBR600B-LP4</u></h5>
                        <div style="width: 300px; margin: 0 auto;">
                            <img src="@Url.Content("~/Images/RegRouterSt.jpg")" data-toggle="modal" data-target="#RegRouterSt" class="img-responsive" style="max-width: 300px; height: auto;" />
                            <br />
                            <br />
                            <img src="@Url.Content("~/Images/RegRouterStBM.png")" data-toggle="modal" data-target="#RegRouterStB" class="img-responsive" style="max-width: 300px; height: auto;" />
                            <p>
                                <center>The register's network cable should be plugged into the Lan port <b class="labelColor-1">(A)</b>.  The customer display network cable should be plugged into the Wan port <b class="labelColor-2">(B)</b>.   The register should be plugged into the Lan port <b class="labelColor-1">(A)</b>.  <b class="labelColor-3">(C)</b> is the reset button.
                                    Make sure the power cable <b class="labelColor-4">(D)</b> is plugged into the Powervar.  Nothing should be plugged into the USB port
                                </center>
                            </p>
                            <p></p>
                        </div>
                    </div>
                    <!--<div class="col-sm-3">
                        <center><u>S700</u></center>
                        <a><img src="" data-toggle="modal" data-target="#" alt="Image Comming Soon" class="full"></a>
                        <br/>
                        <br/>
                        <a><img src="" data-toggle="modal" data-target="#" alt="Image Comming Soon" class="full"></a>
                        <p>The register's network cable should be plugged into the Lan port.  The customer display network cable should be plugged into the Wan port.  The register should be plugged into the Lan port.  Two green and two white lights indicate the router is connected to the internet.
                        Make sure the power cable is plugged into the Powervar. </p>
                        <p></p>
                    </div>-->
                    <div class="col-sm-4 text-center">
                        <h5><u>S700</u></h5>
                        <div style="width: 300px; margin: 0 auto;">
                            <img src="@Url.Content("~/Images/RegRouterN.jpg")" data-toggle="modal" data-target="#RegRouterN" class="img-responsive" style="max-width: 300px; height: auto;" />
                            <br />
                            <br />
                            <img src="@Url.Content("~/Images/RegRouterNB.jpg")" data-toggle="modal" data-target="#RegRouterNB" class="img-responsive" style="max-width: 300px; height: auto;" />
                            <p>
                                The register's network cable should be plugged into the Lan port <b class="labelColor-1">(A)</b>.  The customer display network cable should be plugged into the Wan port <b class="labelColor-2">(B)</b>.  The register should be plugged into the Lan port <b class="labelColor-1">(A)</b>.  <b class="labelColor-3">(C)</b> is the reset button.
                                Make sure the power cable <b class="labelColor-4">(D)</b> is plugged into the Powervar.  Nothing should be plugged into the USB port.  Two green and two white lights indicate the router is connected to the internet.
                            </p>
                            <img src="@Url.Content("~/Images/RegRouterNA.jpg")" data-toggle="modal" data-target="#RegRouterNA" class="img-responsive" style="max-width: 300px; height: auto;" />
                            <p>Unless otherwise instructed, you should only have antennas in the Wifi ports <b class="labelColor-1">(B)</b>.  There will never be anything in the GPS port.</p>
                            <p></p>
                        </div>
                    </div>
                </div>
                <p>Note: The above information <b>Does not</b> apply to registers in testing.</p>
                <hr />

                <div class="row">
                    <div class="col-sm-6">
                        <h4>Indicator Lights:</h4>
                        <ul>
                            <li>For newer routers:</li>
                            <ul><li>Two green and two white lights indicate the router is connected to the internet.</li></ul>
                            <li>For older routers:</li>
                            <ul>
                                <li>Two to three green and three to four blue lights indicate the router is connected to the internet.</li>
                                <li>Orange/yellow lights indicate that the router is not connected to the internet.</li>
                            </ul>

                        </ul>
                    </div>
                    <div class="col-sm-2">
                        <center><u>Router is connected to the Internet</u></center>
                        <img src="@Url.Content("~/Images/RegRouterNS2.jpg")" style="max-width:1000px; width:100%;" data-toggle="modal" class="full">

                    </div>
                    <div class="col-sm-3">
                        <center><u>Router is not connected.</u></center>
                        <img src="@Url.Content("~/Images/RegRouterNS1.jpg")" class="img-responsive"  style="max-width:1000px; width:100%;" data-toggle="modal" class="full">
                        <img src="@Url.Content("~/Images/RegRouterNS2.jpg")" class="img-responsive"  style="max-width:1000px; width:100%;" data-toggle="modal" class="full">

                    </div>
                </div>

                <hr />
                <h4>Restarting the router:</h4>
                <p>There are two ways to restart a small cradle point router:</p>
                <b>**When performing either one of these troubleshooting methods. The router should connect back to the internet after 5-10 minutes**</b>
                <ol>
                    <li>Unplug the power cable and plug the cable back in.</li>
                    <li>Factory Reset the Router:</li>
                    <ol>
                        <li>Get a paperclip or anything small enough to press the reset button on the back of the router. (labeled "C" in the pictures above)</li>
                        <li>The reset button is labeled Reset, and the button is on the left-hand side of the router.</li>
                        <li>Press and hold the reset button for 20 seconds. Ensure the indicator lights on the router turn off except the power light when pressing the reset button. </li>

                    </ol>
                </ol>
            </div>
        </div>
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accMicro" href="#MicCollapsepr">Printer</a>
            </h4>
        </div>
        <div id="MicCollapsepr" class="panel-collapse collapse">
            <div class="panel-body">
                <h4>Printer not printing:</h4>
                <div><img src="@Url.Content("~/Images/Picture1.png")" class="img-responsive" style="max-width: 425px; height: auto;"></div>
                <ul>
                    <li>Ensure that the dip switches on the back of the printer are in the correct directions. The number (4) switch should be facing in the direction where you see the words 'DIP' and 'ON.' All of the other numbers should show in the direction away from 'DIP' and 'ON.'</li>

                    <li>If the direction of the switches is incorrect, turn off the printer. The power switch is on the front of the printer at the bottom right-hand corner.</li>

                    <li>Correct the switches and turn the printer back on. Ensure that once the printer is back on, there's a blue power light on the front of the printer and that the light on the back of the printer should be blinking/solid green when it's on. </li></li>

                    <li>Ensure that the flat black cable for the printer is also plugged into the IDN1 port on the printer and into the IDN on the register screen. The cable is flat with two plastic tips, and one clip is bigger than the other. The large tip is for the register screen, and the smaller tip is for the printer. </li>

                    <li>Once all the steps are confirmed, reboot the register screen by pressing the blue power button at the bottom right-hand corner of the screen. Once the screen is back up, test the printer.</li>

                    <li>If none of these steps work, please locate your division spare and request a replacement. </li>
                </ul>
            </div>
        </div>

        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accMicro" href="#MicCollapseolox">Olo</a>
            </h4>
        </div>
        <div id="MicCollapseolox" class="panel-collapse collapse">
            <div class="panel-body">
                <h4>Ensure that the register is connected to the internet by navigating to Functions > WH Expo. The register is online, provided you can access the OLO screen. </h4>

                <span> Troubleshooting steps should be performed when the unit is running slowly. The unit must be cash-only when performing these steps.</span>

                <span>The process takes 10-45 minutes. </span>
                <0l>
                    <li>Press functions and sign out. </li>
                    <li>Click on the red box in the right-hand corner, select 'Update Database', press the red box again, and then select 'Reload'.</li>
                    <li>Once that is complete, reboot the register screen by pressing the blue power button.</li>
                    <li>Sign in to PMC 9+4 digit unit number</li>
                    <li>Suppose the initial steps don't correct the issue. Please perform the following: </li>
                    <li>Press functions and sign out.  </li>
                    <li>Click on System Functions in the top left-hand corner, the passcode is 9 + four-digit unit number (ex: 90177 *for units with three-digits* or 91485 *for units with four-digits*) </li>
                    <li>select Launch System Functions, Click on Reload Caps </li>
                    <li>Once that is complete, reboot the register screen by pressing the blue power button.</li>
                    <li>If none of these steps work, please contact UIS Technical services at at 770-729-5933, option 2.</li>
                    </ul>
            </div>
        </div>
        @Html.Partial("_PowerVar")

<div class="panel-heading">
    <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accMicro" href="#MicCollapse5">Replacing an NCR Terminal to Oracle TSR Setup Instructions</a>
    </h4>
</div>
<div id="MicCollapse5" class="panel-collapse collapse">
    <div class="panel-body">

        <h2 style="text-align:center">Your New Micros Oracle TSR!</h2>
        <p>
            The following information can be found on the PDF guide that was sent with your TSR and can be found
            <a href="https://info.wafflehouse.com/OpsExpress/Content/Documents/Micros/Micros Oracle Install Guide.pdf" target="_blank">here</a>
        </p>
        <!--<h3 style="text-align:center">---Before Install Day--- </h3>
        <div class="row">
            <div class="col-sm-4">
                <p>Make sure your Cradlepoint router is ready and will work with the new Oracle TSR.  To do this locate the Cradlepoint router under the Cash stand.  </p>
                <p>
                    Find where the Ethernet cable plugs into the Cradlepoint router.  Next to the port that the cable plugs into is an unused port.
                    It should be covered by Tape or a plug cover. <b>Remove the covering of the extra Ethernet Port.</b>
                </p>
            </div>
            <div class="col-sm-3">
                <a><img src="@Url.Content("~/Images/upgrade2.png")" class="img-responsive" data-toggle="modal" data-target="#upgrade2" width="450"></a>
                <span>Image: A piece of tape covering the second port of the Cradlepoint</span>
            </div>
            <div class="col-sm-3">
                        <a><img src="@Url.Content("~/Images/upgrade3.png")" class="img-responsive" data-toggle="modal" data-target="#upgrade3" width="450"></a>
                <span>Image: A dust cover covering the second port of the Cradlepoint</span>
            </div>
        </div>
        <br /><br />
        <div class="row">
            <div class="col-sm-4">
                <p>
                    <u>Move the cable to the newly unused port.</u>  You should see lights appear in the corner either <b class="Orange"> orange</b> or <b class="Green">green</b>.  This is a good sign.  <br />
                    Look at the screen on the NCR TSR and <u>tap the Wi-Fi indicator in the upper right three times quickly.</u>  The indicator should change to <b class="Green">green</b> or stay <b class="Green">green.</b>
                </p>
            </div>
            <div class="col-sm-2">
                        <a><img src="@Url.Content("~/Images/upgrade4.png")" class="img-responsive"  data-toggle="modal" data-target="#upgrade4" class="full"></a>
                <span></span>
            </div>
        </div>
        <br /><br />
        <div class="row">
            <div class="col-sm-4">
                <p>If this is the case your router is ready to be used with the new micros pos.  If not Call Tech Support <b><i>770-729-5933</b></i></p>
            </div>
            <div class="col-sm-2">
                <a><img src="@Url.Content("~/Images/upgrade5.png") class="img-responsive" data-toggle="modal" data-target="#upgrade5" class="full"></a>
                <span></span>
            </div>

        </div>
        <br /><br />

        <hr />

        <h3 style="text-align:center">---Install Day--- </h3>
        <ol>
            <div class="row">
                <div class="col-sm-6">
            <li>Around 11am of install day unbox the Micros Oracle system.  Place the equipment on a pull cart.  </li>
            <li>Place the equipment on a pull cart.</li>
            <ol>
                <li>Put the cashdrawer, Workstation and Stand on the top shelf. </li>
                <li>Place the Printer, Payment Terminal (PED) and Payment Terminal Stand along with all the cables and power supplies on the second shelf. </li>
                <li>Note: We will place the NCR hardware on the bottom shelf of the pull cart</li>
            </ol>
            <li>
                Visit Ops Express or <a href="https://info.wafflehouse.com/VerifyMicros">click here</a> and complete the
                <a href="https://info.wafflehouse.com/VerifyMicros">Micros Site Inventory</a> step to make sure
                you have the proper hardware for your store. If not contact Micros Support and do not install. <b>1-800-305-8649</b>
            </li>
            <li>We recommend changing out the TSR at the end of First Shift after 2pm. </li>
            <p>You can click or scan this QR code to see some videos of the installation:</p>
    </div>
    <div class="col-sm-3">
                <a href="https://apexapps.oracle.com/pls/apex/r/micros/microsunboxing/home" target="_blank" style="text-align: center;"><img src="@Url.Content("~/Images/upgrade6.png")"><br />Link to videos of the instalation</a>
    </div>
</div>

<div class="panel-group" id="accordion">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">Step 1</a>
            </h4>
        </div>
        <div id="collapse1" class="panel-collapse collapse in">
            <div class="panel-body">
                Be sure you close out the shift and perform a settlement on your NCR TSR.
                Make sure to print out any extra reports you need.
                We recommend changing out the TSR at the end of First Shift after 2pm.
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">Step 2</a>
            </h4>
        </div>
        <div id="collapse2" class="panel-collapse collapse">
            <div class="panel-body">
                Move the receipt paper from the NCR printer to the Micros Printer.
                You will be removing the NCR hardware, except the Cradle Point Router and Powervar UPS we will be using these with the new TSR.
                Put the NCR TSR, NCR Cashdrawer, NCR Printer, and cables on the bottom shelf of the pull cart.
                You will be sending this equipment to technical services as the final step.
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">Step 3</a>
            </h4>
        </div>
        <div id="collapse3" class="panel-collapse collapse">
            <div class="panel-body">
                <span style="font-size:32px;"> Clean the Cash Stand and under the counter of debris.</span>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse4">Step 4</a>
            </h4>
        </div>
        <div id="collapse4" class="panel-collapse collapse">
            <div class="panel-body">
                Prepare the Cradle Point Router for use with the New TSR.
                If there is tape (or dust cap) covering the WAN port on the back of the router remove it as we will need to use both ethernet ports on the router.
                You can remove the existing ethernet cables as we will be using new ones.
                You can keep the old on in the managers office as a spare cable
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse5">Step 5</a>
            </h4>
        </div>
        <div id="collapse5" class="panel-collapse collapse">
            <div class="panel-body">
                Call or Email UIS Helpdesk if you do not have a Cradle Point Router with two Antennas and a Powervar UPS <b><u>770-729-5933</b></u> or UIS@wafflehouse.com.
            </div>
        </div>
    </div>-->
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse6">Step 1</a>
            </h4>
        </div>
        <div id="collapse6" class="panel-collapse collapse">
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-4 text-center">
                        <h5>
                            Run the necessary cables through the hole in cash stand.
                            You will need to run the power cord for printer (Green Flag) and Workstation (Orange Flag) along with an ethernet cable.
                            Also run the hub cable (Purple Flag) for the Payment Terminal (PED) through the hole as well.
                        </h5>
                        <div style="width: 400px; margin: 0 auto;">
                                    <img src="@Url.Content("~/Images/upgrade7.png")" class="img-responsive"  data-toggle="modal" data-target="#upgrade7" style="display: block; width:100%;" data-toggle="modal" class="full" />
                        </div>
                    </div>
                    <div class="panel-body">
                        <h5>
                            There are two different versions of this cable, they both have one end that has a small end that connects to the PED,
                            the other end is where the Ethernet and power cord will plug into the hub and this end remains under the counter.
                        </h5>
                        <div class="col-sm-4">
                                    <a><img src="@Url.Content("~/Images/upgrade2.png")" class="img-responsive" data-toggle="modal" data-target="#upgrade2" style="display: block; width:100%;" data-toggle="modal" class="full"></a>
                            <span>Image: A piece of tape covering the second port of the Cradlepoint</span>
                        </div>
                        <div class="col-sm-4">
                                    <a><img src="@Url.Content("~/Images/upgrade3.png")" class="img-responsive" data-toggle="modal" data-target="#upgrade3" style="display: block; width:100%;" data-toggle="modal" class="full"></a>
                            <span>Image: A dust cover covering the second port of the Cradlepoint</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse7">Step 2</a>
            </h4>
        </div>
        <iv id="collapse7" class="panel-collapse collapse">
            <div class="panel-body">
                Plug in the Printer, Workstation, PED power supply into the Powervar Surge protector.
                <br />
                <br />
                Plug the power cord for the PED labeled with the purple power tag into the Hub.
                The power cord should go through the loop in the bottom of the PED Hub or Secure the Plug to the loop in the hub.
                Plug the Short Ethernet Cable into the PED Hub into the port Labeled ETH.
                Plug the other end of the Short Ethernet Cable into the Cradlepoint Router.
                Also plug in the Long Ethernet Cable from the Workstation into the Cradlepoint Router.

                <div class="row">
                    <div class="col-sm-6">
                        <a><img src="@Url.Content("~/Images/upgrade11.png")" class="img-responsive" data-toggle="modal" data-target="#upgrade11" style="max-width:400px; width:100%;" data-toggle="modal" class="full"></a>
                    </div>
                    <div class="col-sm-6">
                        <div style="width: 450px; margin: 0 auto;">
                            <div style="width: 450px; margin: 0 auto;">
                                <a><img src="@Url.Content("~/Images/upgrade10.jpg")" class="img-responsive" data-toggle="modal" data-target="#upgrade10" style="max-width:400px; width:100%;" data-toggle="modal" class="full"></a>
                                <br />
                                <a><img src="@Url.Content("~/Images/upgrade12.png")" class="img-responsive" data-toggle="modal" data-target="#upgrade12" style="max-width:400px; width:100%;" data-toggle="modal" class="full"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse8">Step 3</a>
            </h4>
        </div>
        <div id="collapse8" class="panel-collapse collapse">
            <div class="panel-body">
                Make sure the cables coming up through the counter have enough slack above the counter.  You will now be able to put the Cash Drawer on the Cash Stand.
                </p>
                Taped to the bottom of the Cash Drawer are two keys and the Cash Drawer cable.  Remove the Keys and attach them to the Unit Key chain so they are not lost.  Leave most of the cash drawer cable under the drawer and expose about 2 feet of it above the Cash Drawer to plug into the Workstation
                </p>
            </div>
            <div style="width: 450px; margin: 0 auto;">
                <img src="@Url.Content("~/Images/upgrade13.jpg")" class="img-responsive" data-toggle="modal" data-target="#upgrade13" width="400" style="display: block;" />
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse9">Step 4</a>
            </h4>
        </div>
        <div id="collapse9" class="panel-collapse collapse">
            <div class="panel-body">
                <p>
                    Place the Workstation stand on top of the Cash Drawer.
                    Now, take the Workstation and look at the back of it and notice the Four Tabs that are used to connect the Workstations to the Stand.
                    Align the Tabs with the Stand and place the Workstation on the Stand.
                </p>
                <p>You can then slide the Workstation towards you, and it should Lock into place on the Stand.</p>
                <p>If you look underneath the Workstation, you should see a small Locking Pin that Fixes the Workstation to the Stand.</p>
                <div class="row">
                    <div class="col-sm-4">
                        <a><img src="@Url.Content("~/Images/upgrade14.png")"class="img-responsive" data-toggle="modal" data-target="#upgrade14" class="full"></a>
                    </div>
                    <div class="col-sm-4">
                        <a><img src="@Url.Content("~/Images/upgrade15.png")" class="img-responsive" data-toggle="modal" data-target="#upgrade15" class="full"></a>
                    </div>
                    <div class="col-sm-4">
                        <a><img src="@Url.Content("~/Images/upgrade16.png")" class="img-responsive" data-toggle="modal" data-target="#upgrade16" class="full"></a>
                    </div>
                    <div class="col-sm-4">
                        <a><img src="@Url.Content("~/Images/upgrade17.png")" class="img-responsive" data-toggle="modal" data-target="#upgrade17" class="full"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse10">Step 5</a>
            </h4>
        </div>
        <div id="collapse10" class="panel-collapse collapse">
            <div class="panel-body">
                <p>Feed the Network, Power Supply (with and Orange Flag) and Cash Drawer cables through the bottom of the stand in the back, up thru to the center of the Stand and out the front where you can plug them into the bottom of the Workstation.</p>
                <p>The Longer Network Cable will Plug into Orange port on the Right of the Workstation.</p>
                <p>The Power Supply will plug into the red colored port to the right of the USB ports.</p>
                <p>The Cash Drawer Cable will plug into the Green Colored CD1 Port on the bottom to the left of the workstation.</p>
                <div class="col-sm-3">
                    <a><img src="@Url.Content("~/Images/upgrade18.png")" data-toggle="modal" data-target="#upgrade18" style="max-width:1000px; width:100%;" data-toggle="modal" class="full"></a>
                </div>
                <div class="col-sm-3">
                    <a><img src="@Url.Content("~/Images/upgrade19.png")" data-toggle="modal" data-target="#upgrade19" style="max-width:1000px; width:100%;" data-toggle="modal" class="full"></a>
                </div>
                <div class="col-sm-3">
                    <a><img src="@Url.Content("~/Images/upgrade20.jpg")" data-target=" #upgrade20" style="max-width:1000px; width:100%;" data-toggle="modal" class="img-responsive" ></a>
                </div>
                <div class="col-sm-3">
                    <a><img src="@Url.Content("~/Images/upgrade21.png")" data-toggle="modal" data-target="#upgrade21" style="max-width:1000px; width:100%;" data-toggle="modal" class="full"></a>
                </div>
                <div class="col-sm-3">
                    <a><img src="@Url.Content("~/Images/ports.png")" data-toggle="modal" data-target="#tsr1" style="max-width:1000px; width:100%;" data-toggle="modal" class="full"></a>
                </div>
                <div class="col-sm-3">
                    <a><img src="@Url.Content("~/Images/PSU1.png")" data-toggle="modal" data-target="#tsr2" style="max-width:1000px; width:100%;" data-toggle="modal" class="full"></a>
                </div>


            </div>

        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse11">Step 6</a>
            </h4>
        </div>
        <div id="collapse11" class="panel-collapse collapse">
            <div class="panel-body">
                <p>Now we will move the Receipt Printer and place it on the Cash Stand.  Connect the round power cord (with a Green Flag) for the printer into the back of the printer.</p>
                <div class="col-sm-4">
                    <a><img src="@Url.Content("~/Images/upgrade22.jpg")" class="img-responsive" data-toggle="modal" data-target="#upgrade22" width="400"></a>
                </div>
                <div class="col-sm-4">
                    <a><img src="@Url.Content("~/Images/upgrade23.png")" class="img-responsive" data-toggle="modal" data-target="#upgrade23" width="400"></a>
                </div>
            </div>
            <div class="panel-body">
                <p>Receipt Printer and place it on the Cash Stand.  Connect the round power cord (with a Green Flag) for the printer into the back of the printer. </p>
                <p>The IDN Cable is the one we will use to connect the Printer to the Workstation.  One end of the IDN Cable is narrower than the other end.  The Narrow end of the IDN cable will plug into the Printer.  </p>
                <div class="col-sm-3">
                    <a><img src="@Url.Content("~/Images/upgrade24.png")"class="img-responsive" data-toggle="modal" data-target="#upgrade24" class="full"></a>
                </div>
                <div class="col-sm-3">
                    <a><img src="@Url.Content("~/Images/upgrade25.png")" class="img-responsive" data-toggle="modal" data-target="#upgrade23" class="full"></a>
                </div>
            </div>
            <div class="panel-body">
                <p>
                    There are two ports it can fit into; we must connect the IDN cable to the port on the right labeled IDN1.
                    For the Wider end run that through the Back of the Workstation Stand through to the front and into the Bottom of the Workstation
                </p>
                <p>The IDN cable will plug into the yellow colored IDN Port on the bottom to the left-hand side of the Workstation.</p>
                <p>Turn on the power for the Printer, it is located on the front of the printer. The blue light should turn on to indicate it’s on.</p>
                <div class="col-sm-3">
                    <a><img src="@Url.Content("~/Images/upgrade26.jpg")" class="img-responsive" data-toggle="modal" data-target="#upgrade26" width="400"></a>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse12">Step 7</a>
            </h4>
        </div>
        <div id="collapse12" class="panel-collapse collapse">
            <div class="panel-body">
                <p>Now we will install the Customer Facing Payment Terminal (PED).  Take the PED from the cart and use a small Philips head (or Star) screw drive to remove the bottom of the PED cover.</p>
                <p>Plug the PED hub connector in the bottom of the PED.  The PED should automatically turn on.  </p>
                <p>Re attach the port cover and screw it back into Place.  Now you can mount the PED to the Payment Terminal Stand.  </p>
                <div class="col-sm-2">
                    <a><img src="@Url.Content("~/Images/upgrade27.png")" data-toggle="modal" data-target="#upgrade27" style="max-width:450px; width:100%;" data-toggle="modal" class="full"></a>
                </div>
                <div class="col-sm-2">
                    <a><img src="@Url.Content("~/Images/upgrade28.png")" data-toggle="modal" data-target="#upgrade28" style="max-width:450px; width:100%;" data-toggle="modal" class="full"></a>
                </div>
                <div class="col-sm-2">
                    <a><img src="@Url.Content("~/Images/upgrade29.png")" data-toggle="modal" data-target="#upgrade29" style="max-width:450px; width:100%;" data-toggle="modal" class="full"></a>
                </div>
                <div class="col-sm-2">
                    <a><img src="@Url.Content("~/Images/upgrade30.jpg")" data-toggle="modal" data-target="#upgrade30" style="max-width:450px; width:100%;" data-toggle="modal" class="full"></a>
                </div>
            </div>
            <div class="panel-body">
                <p>There are two thumb screws locating on the back of the plate that the PED will attach to.  Screw the PED into the Stand Tightly.</p>
                <p>On the bottom of the PED Stand is a strong adhesive pad.  Locate a good Spot for the PED then remove the cover on the bottom of the adhesive Pad and secure it to the Cash Stand facing the Customer. </p>
                <div class="col-sm-2">
                    <a><img src="@Url.Content("~/Images/upgrade31.png")" data-toggle="modal" data-target="#upgrade31" style="max-width:450px; width:100%;" data-toggle="modal" class="full"></a>
                </div>
                <div class="col-sm-2">
                    <a><img src="@Url.Content("~/Images/upgrade32.jpg")" data-toggle="modal" data-target="#upgrade32" style="max-width:450px; width:100%;" data-toggle="modal" class="full"></a>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse13">Step 8</a>
            </h4>
        </div>
        <div id="collapse13" class="panel-collapse collapse">
            <div class="panel-body">
                <p>
                    Power on the Workstation.  The power button is located just below the blue power logo on the front of the screen.  Press the button once for a second and the button itself should light up.
                    Now we can clean up our Register and do some Wire management.  Any extra cable slack should be pushed back through the hole in the cash stand.
                    You can now also attach the Cable Shroud for the WorkStation.  It slides and locks into place.
                </p>
                <div class="col-sm-5">
                    <a><img src="@Url.Content("~/Images/upgrade33.png")" data-toggle="modal" data-target="#upgrade33" style="max-width:1000px; width:100%;" data-toggle="modal" class="full"></a>
                </div>
                <div class="col-sm-5">
                    <a><img src="@Url.Content("~/Images/upgrade34.png")" data-toggle="modal" data-target="#upgrade34" style="max-width:1000px; width:100%;" data-toggle="modal" class="full"></a>
                </div>
            </div>
            <div class="panel-body">
                <p>
                    You can now also install the Cable Shroud on the back of the Receipt Printer; this has a back cover and a bottom plate that screws in using two Philips head screws.
                </p>
                <p>
                    Finally install the pin number Shroud in the Customer Facing Payment Terminal PED, it should snap into place.
                </p>
                <div class="col-sm-3">
                    <a><img src="@Url.Content("~/Images/upgrade35.jpg")" data-toggle="modal" data-target="#upgrade35" style="max-width:1000px; width:100%;" data-toggle="modal" class="full"></a>
                </div>
                <div class="col-sm-3">
                    <a><img src="@Url.Content("~/Images/upgrade36.png")" data-toggle="modal" data-target="#upgrade36" style="max-width:1000px; width:100%;" data-toggle="modal" class="full"></a>
                </div>
                <div class="col-sm-3">
                    <a><img src="@Url.Content("~/Images/upgrade37.jpg")" data-toggle="modal" data-target="#upgrade37" style="max-width:1000px; width:100%;" data-toggle="modal" class="full"></a>
                </div>
                <div class="col-sm-3">
                    <a><img src="@Url.Content("~/Images/upgrade38.jpg")" data-toggle="modal" data-target="#upgrade38" style="max-width:1000px; width:100%;" data-toggle="modal" class="full"></a>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse14">Step 9</a>
            </h4>
        </div>
        <div id="collapse14" class="panel-collapse collapse">
            <div class="panel-body">
                Remove the Plastic Film covering the Workstation Screen, Also remove the film coving the Small screen that faces the customers on the TSR. Remove the Film that covers the screen on the PED
            </div>
        </div>
    </div>

<hr />
<h3 style="text-align:center">---After Install Instructions--- </h3>
<h4>Special Note the minimum amount of a check is .50 cents</h4>
    On the POS:
<ul>
    <li>Test the Register by ringing up a Cash ticket for .50</li>
    <li>Test the Register by ringing up Credit ticket for .50</li>
    <li>Make sure all the receipt info that prints out is correct.</li>
    <br />
    <li>Tap functions.</li>
    <li>Tap the Red sign out button.</li>
    <li>Tap the System Functions Button</li>
    <li>Enter the pin# 9#### where the #### is your unit number.</li>
    <ul><li>Example: 90235 for unit 235</li></ul>
    <li>Tap System Function</li>
    <li>Tap Update Database</li>
</ul>
<p>This will take a few seconds and then complete.  When it is done, log out and then log back in for ticket entry.</p>
<!--<p>Call the Micros Support number and let them know you have finished your install.  The number is <b><i>1-800-305-8649.</i></b>  Be sure to save this number in your phone so you can call them if you have any issues with your new TSR hardware in the future</p>
<p>Final Step: Put the NCR hardware in the Boxes and prepare it for return to Technical Services using the Included FedEx Return label.  Please Write you Unit number in the from section of the return label.	</p>-->

    </div>
    </div>
<!--<div class="panel-heading">
    <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accMicro" href="#MicCollapseTill">Read Till Report</a>
    </h4>
</div>-->
<div id="MicCollapseTill" class="panel-collapse collapse">
    <div class="panel-body">
        <h3>How to read MICROS Till report</h3>
        <p>The following can also be found on the <a href="https://info.wafflehouse.com/OpsExpress/Content/Documents/Micros/Micros How to Read - Till Report.pdf" target="_blank">PDF guide found here</a></p>
        <div class="row">
            <div class="col-lg-3 col-md-6 col-xs-12" style="font-family: 'Courier New', monospace; width:400px; word-wrap: normal;  ">

                <p>==========================================</p>
                <h4 style="text-align:center">Till Report</h4>
                <p>==========================================</p>
                <p>Store:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Unit 1234</p>
                <p>Device:&nbsp;&nbsp;&nbsp;&nbsp;All</p>
                <p>Printed:&nbsp;&nbsp;&nbsp;03/22/2023 14:00</p>
                <p>==========================================</p>
                <h4 style="text-align:center">Serving Period Info</h4>

                <p>F4 Date:&nbsp;&nbsp;&nbsp;03/22/2023</p>
                <p>Number&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Start&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;End</p>
                <p>&nbsp;386&nbsp;&nbsp;&nbsp;3/22/2023 6:57&nbsp;&nbsp;&nbsp;3/22/2023 14:00</p>
                <p>==========================================</p>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <br /><br /><br /><br />
                <p>You must Change your drawer and Generate this report at the end of every shift.</p>
                <p>Please note the difference between "F4 Date" (the date associated with the presented data) and the "Printed Date" (the date in which the report was printed).</p>
                <p>Please note the Start and End of the report. The till report will print whenever you change a drawer.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-12" style="font-family: 'Courier New', monospace; width:400px; word-wrap: normal;  ">

                <h4 style="text-align:center">Card Details</h4>
                <p>&nbsp;Trans #&nbsp;&nbsp;TY&nbsp;&nbsp;&nbsp;Base&nbsp;&nbsp;&nbsp;&nbsp;Tip&nbsp;&nbsp;&nbsp;&nbsp;Total</p>
                <p>&nbsp;&nbsp;29651&nbsp;&nbsp;&nbsp;CC&nbsp;&nbsp;$21.82&nbsp;&nbsp;$0.00&nbsp;&nbsp;$21.82</p>
                <p>&nbsp;&nbsp;29652&nbsp;&nbsp;&nbsp;CC&nbsp;&nbsp;$11.25&nbsp;&nbsp;$3.00&nbsp;&nbsp;$14.25</p>
                <p>&nbsp;&nbsp;29654&nbsp;&nbsp;&nbsp;CC&nbsp;&nbsp;$24.75&nbsp;&nbsp;$0.00&nbsp;&nbsp;$24.75</p>
                <p>&nbsp;&nbsp;29655&nbsp;&nbsp;&nbsp;CC&nbsp;&nbsp;$12.93&nbsp;&nbsp;$5.00&nbsp;&nbsp;$17.93</p>
                <p>&nbsp;&nbsp;29659&nbsp;&nbsp;&nbsp;CC&nbsp;&nbsp;&nbsp;$5.78&nbsp;&nbsp;$0.00&nbsp;&nbsp;&nbsp;$5.78</p>
                <p>&nbsp;&nbsp;29661&nbsp;&nbsp;&nbsp;CC&nbsp;&nbsp;$29.00&nbsp;&nbsp;$3.00&nbsp;&nbsp;$32.00</p>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;etc...&nbsp;&nbsp;&nbsp;&nbsp;______________________</p>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;total:&nbsp;&nbsp; $764.29&nbsp;129.00&nbsp$893.29</p>
                <p>==========================================</p>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <p>All Card (Gift and Credit) Transactions are listed chronologically within the Current Shift. Use this to review tip amounts for accuracy and inclusion. </p>
            </div>
        </div>


        <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-12" style="font-family: 'Courier New', monospace; width:400px; word-wrap: normal;  ">

                <h4 style="text-align:center">Cash Drawer Summary</h4>
                <span style="text-align: right">
                    <p>Total Cash Tendered:&nbsp;&nbsp; $734.32</p>
                    <p>Credit Card Tip Amount:&nbsp;&nbsp; $129.00</p>
                    <p>Gift Card Tip Amount:&nbsp;&nbsp; &nbsp;&nbsp;$0.00</p>
                    <p>Online Tip Amount:&nbsp;&nbsp; &nbsp;&nbsp;$0.00</p>
                    <p>Paid Out Amount:&nbsp;&nbsp; &nbsp;$45.00</p>
                    <br />
                    <p><b> CASH DRAWER TOTAL&nbsp;&nbsp; &nbsp;$560.32</b></p>
                </span>
                <p>==========================================</p>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <p>This section is used to help reconcile the drawer and make sure you are not over or short. Tips automatically reduced the cash in the drawer regardless of any tip outs</p>
                <p>The Cash Drawer Total is the amount of cash that should be in the till. The total does not include the starting till amount.</p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-12" style="font-family: 'Courier New', monospace; width:400px; word-wrap: normal;  ">

                <h4 style="text-align:center">Tip Out Summary</h4>
                <span style="text-align: right">
                    <p>Total Tips Amount:&nbsp;&nbsp; $129.00</p>
                    <p> Total Tips Outs:&nbsp;&nbsp; $126.00</p>
                    <br />
                    <p><b>  Outstanding Tip Amount:&nbsp;&nbsp; &nbsp;&nbsp;$3.00</b></p>
                </span>
                <p>==========================================</p>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <p>This section is used to help reconcile how many tip outs have been preformed and if there are any outstanding tips to be paid</p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-12" style="font-family: 'Courier New', monospace; width:400px; word-wrap: normal;  ">

                <h4 style="text-align:center">Audit Summary</h4>
                <span style="text-align: right">
                    <p><u>&nbsp;Qty&nbsp;</u>&nbsp;<u>&nbsp;&nbsp;Total&nbsp;&nbsp;</u>
                    <p>Refunds/Void &nbsp;&nbsp;&nbsp;&nbsp; 0 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;$0.00</p>
                    <p>Tips Outs &nbsp;&nbsp;&nbsp;&nbsp; 4 &nbsp;&nbsp;&nbsp;&nbsp;$126.00</p>
                    <p>Paid Outs &nbsp;&nbsp;&nbsp;&nbsp; 1 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;$45.00</p>
                    <p>No Sales &nbsp;&nbsp;&nbsp;&nbsp; 4 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
                </span>
                <p>==========================================</p>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <p>This section is used to help highlight any actions that have removed cash from the till.</p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-12" style="font-family: 'Courier New', monospace; width:400px; word-wrap: normal;  ">

                <b>
                    <p>Cash in the Drawer Before 2pm &nbsp;&nbsp;&nbsp;&nbsp;$588.32</p>
                    <p>Cash in the Drawer After 2pm &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-$25.00</p>
                </b>
                <p>==========================================</p>
                <h4 style="text-align:center">End Report</h4>
                <p>==========================================</p>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <p><b>This section at the bottom will only appear when a till is changed during the end of day time period of 2pm. You will use these numbers in your cash/safe</b></p>
            </div>
        </div>
    </div>
</div>
<!--<div class="panel-heading">
    <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accMicro" href="#MicCollapseXZ">Read MICROS X, Z, and UIS</a>
    </h4>
</div>-->
<div id="MicCollapseXZ" class="panel-collapse collapse">
    <div class="panel-body">
        <h3>How to read X and Z reports</h3>
        <p>The following information can be found on the <a href="https://info.wafflehouse.com/OpsExpress/Content/Documents/Micros/MicrosHowtoReadXZandUIS.pdf" target="_blank">PDF guide found here</a> as well</p>
        <div class="row">
            <div class="col-lg-3 col-md-6 col-xs-12" style="font-family: 'Courier New', monospace; width:400px; word-wrap: normal;  ">
                <p>==========================================</p>
                <h4 style="text-align:center">Z-Report</h4>
                <p>==========================================</p>
                <p>Store:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Unit 1234</p>
                <p>Device:&nbsp;&nbsp;&nbsp;&nbsp;All</p>
                <p>Printed:&nbsp;&nbsp;&nbsp;03/22/2023 14:00</p>
                <p>==========================================</p>
                <h4 style="text-align:center">Serving Period Info</h4>

                <p>F4 Date:&nbsp;&nbsp;&nbsp;03/22/2023</p>
                <p>Number&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Start&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;End</p>
                <p>&nbsp;386&nbsp;&nbsp;&nbsp;3/22/2023 6:57&nbsp;&nbsp;&nbsp;3/22/2023 14:00</p>
                <p>==========================================</p>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <br /><br /><br /><br />
                <p>You must Change your drawer and Generate this report at the end of every shift.</p>
                <p>Please note the difference between "F4 Date" (the date associated with the presented data) and the "Printed Date" (the date in which the report was printed).</p>
                <p>Please note the Start and End of the report. The till report will print whenever you change a drawer.</p>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-3 col-md-6 col-xs-12" style="font-family: 'Courier New', monospace; width:400px; word-wrap: normal;  ">

                <h4 style="text-align:center">Tender Type Totals</h4>
                &nbsp;
                <p>Cash:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;$447.05</p>
                <p>Credit Card: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; $1,746.05</p>
                <p>Online CC:&nbsp;&nbsp;  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;$0.00</p>
                <p>Gift Card:&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;$24.00</p>
                <p>==========================================</p>

            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">

                <p></p>

            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-12" style="font-family: 'Courier New', monospace; width:400px; word-wrap: normal;  ">

                <h4 style="text-align:center">Card Details</h4>
                <p>&nbsp;Trans #&nbsp;&nbsp;TY&nbsp;&nbsp;&nbsp;Base&nbsp;&nbsp;&nbsp;&nbsp;Tip&nbsp;&nbsp;&nbsp;&nbsp;Total</p>
                <p>&nbsp;&nbsp;29651&nbsp;&nbsp;&nbsp;CC&nbsp;&nbsp;$21.82&nbsp;&nbsp;$0.00&nbsp;&nbsp;$21.82</p>
                <p>&nbsp;&nbsp;29652&nbsp;&nbsp;&nbsp;CC&nbsp;&nbsp;$11.25&nbsp;&nbsp;$3.00&nbsp;&nbsp;$14.25</p>
                <p>&nbsp;&nbsp;29654&nbsp;&nbsp;&nbsp;CC&nbsp;&nbsp;$24.75&nbsp;&nbsp;$0.00&nbsp;&nbsp;$24.75</p>
                <p>&nbsp;&nbsp;29655&nbsp;&nbsp;&nbsp;CC&nbsp;&nbsp;$12.93&nbsp;&nbsp;$5.00&nbsp;&nbsp;$17.93</p>
                <p>&nbsp;&nbsp;29659&nbsp;&nbsp;&nbsp;CC&nbsp;&nbsp;&nbsp;$5.78&nbsp;&nbsp;$0.00&nbsp;&nbsp;&nbsp;$5.78</p>
                <p>&nbsp;&nbsp;29661&nbsp;&nbsp;&nbsp;CC&nbsp;&nbsp;$29.00&nbsp;&nbsp;$3.00&nbsp;&nbsp;$32.00</p>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;etc...&nbsp;&nbsp;&nbsp;&nbsp;______________________</p>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;total:&nbsp;&nbsp; $764.29&nbsp;129.00&nbsp$893.29</p>
                <p>==========================================</p>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <p>All Card (Gift and Credit) Transactions are listed chronologically within the Current Shift. Use this to review tip amounts for accuracy and inclusion. </p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6 col-xs-12" style="font-family: 'Courier New', monospace; width:400px; word-wrap: normal;  ">

                <h4 style="text-align:center">Audit Summary</h4>
                <span style="text-align: right">
                    <p><u>&nbsp;Qty&nbsp;</u>&nbsp;<u>&nbsp;&nbsp;Total&nbsp;&nbsp;</u>
                    <p>Refunds/Void &nbsp;&nbsp;&nbsp;&nbsp; 0 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;$0.00</p>
                    <p>Tips Outs &nbsp;&nbsp;&nbsp;&nbsp; 4 &nbsp;&nbsp;&nbsp;&nbsp;$126.00</p>
                    <p>Paid Outs &nbsp;&nbsp;&nbsp;&nbsp; 1 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;$45.00</p>
                    <p>No Sales &nbsp;&nbsp;&nbsp;&nbsp; 4 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
                    <p>Reprints &nbsp;&nbsp;&nbsp;&nbsp; 0 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
                    <p>Total Sales Tax&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;$141.17</p>
                </span>
                <p>==========================================</p>

            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">

                <p>
                    This section highlights transactions
                    outside of standard Cash and Credit
                    items. If amounts or quantities are high,
                    please refer to the Audit Report for
                    additional information
                </p>
                <p>
                    IMPORTANT NOTE: The Paid Out Amount
                    will need to be booked on the Form 4.
                </p>

            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6 col-xs-12" style="font-family: 'Courier New', monospace; width:400px; word-wrap: normal;  ">

                <h4 style="text-align:center">Sales & Register Reading</h4>
                <span style="text-align: right">
                    <p><u>&nbsp;Qty&nbsp;</u>&nbsp;<u>&nbsp;&nbsp;Total&nbsp;&nbsp;</u>
                    <p>Total Sales:&nbsp;&nbsp; 103 &nbsp;$1,963.39</p>
                    <p>Refunds/Void &nbsp;&nbsp; 0 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;$0.00</p>
                    <p>Total To-Go SVC &nbsp;&nbsp; 18 &nbsp;&nbsp;&nbsp;&nbsp;$28.63</p>
                    <p>ToGo Supply Fees &nbsp;&nbsp; 18 &nbsp;&nbsp;&nbsp;&nbsp;$28.63</p>
                    <p>Credit Card &nbsp;&nbsp;&nbsp; 75 &nbsp;$1,746.05</p>
                    <p>Gift Card &nbsp;&nbsp;&nbsp; 1 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;$24.00</p>
                    <p>Online Sales &nbsp;&nbsp;&nbsp; 0 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;$0.00</p>
                    <p><b>End Reading &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;$141.17</b></p>
                </span>
                <p>==========================================</p>
                <h4 style="text-align:center">End Report</h4>
                <p>==========================================</p>

            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">

                <p>
                    Enter all information into the Sales and
                    Register Reading Screen. The screen
                    has been redesigned to streamline the
                    entering of Information. The End
                    Reading is now entered for every shift
                    to eliminate any errors when entering
                    shift sales. It now stars at 0 at the
                    beginning of every shift.
                </p>
                <p>
                    IMPORTANT NOTE: Failure to account
                    for refunds on UIS will result in cash
                    shortage.
                </p>

            </div>
        </div>
        <hr />
        <h3>UIS Sales and Register Readings</h3>
        <img src="@Url.Content("~/Images/UISMicro.png")" class="img-responsive img-thumbnail center-block" style="max-width: 400px; height: auto;">

    </div>
</div>

<!--<div class="panel-heading">
    <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accMicro" href="#MicCollapseCoaching">Coaching Flash</a>
    </h4>
</div>-->
<div id="MicCollapseCoaching" class="panel-collapse collapse">
    <div class="panel-body">
    </div>
</div>

<!--<div class="panel-heading">
    <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accMicro" href="#MicCollapse6">Router</a>
    </h4>
</div>
<div id="MicCollapse6" class="panel-collapse collapse">
    <div class="panel-body">
    </div>
</div>-->
<div class="panel-heading">
    <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accMicro" href="#MicCollapseDate">Register Set to Incorrect Date or Time</a>
    </h4>
</div>
<div id="MicCollapseDate" class="panel-collapse collapse">
    <div class="panel-body">
        <h4>Register Set to Incorrect Date or Time.</h4>
        <span>These steps are aided by a wired keyboard, but one is not needed. </span>
        <ol>
            <li>Press the blue power button on the bottom right-hand corner of the screen.</li>
            <li>Once the register is shut down, wait 30 seconds before turning the register screen back on.</li>
            <li>Once the register boots up to the Micros Oracle screen, tap the bottom left-hand corner, where you'll see "F2 to enter boot menu."</li>
            <ul><li>This step is aided by a wired keyboard.  If you fail to enter the boot menu, restart from step one and try again</li></ul>
            <li>Once, hear a beep from the register screen. You'll be prompted to enter a password. The password is "<b>edp</b>" (all lowercase, no quotation marks.), and click on enter.</li>
            <li>The boot menu will appear, and you'll click "Menu" and select "System Date." Change the date to the correct date, click "Save, Yes," then click "Boot, Yes," and the register will restart.</li>
            <li>Once all of the steps above are complete, you can process credit and cash transactions. </li>

        </ol>
    </div>
</div>

<div class="panel-heading">
    <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accMicro" href="#MiccollapseOlo">Enable/Disable Online Ordering</a>
    </h4>
</div>
<div id="MiccollapseOlo" class="panel-collapse collapse">
    <div class="panel-body">
        <h4>Turning Online Ordering on/off</h4>

        <ol>
            <li>Navigate to the Online Dashboard:</li>

            <li>On The Register:
                <ol>
                    <li>From the Ticket Entry screen, tap "functions"</li>
                    <li>Tap the "previous shift sales and text customer" button in the WH Expo sales column</li>
                    <li>
                        <ul>
                            <li>Note: some registers may show this button with a different name. It will be the topmost button in the 3rd column.</li>
                        </ul>
                    </li>
                </ol>
            </li>

            <li>On Ops Express:
                <ol>
                    <li>Log into ops express</li>
                    <li>Select Unit Operations/Online Scheduling</li>
                    <li>Select Online Dashboard</li>
                </ol>
            </li>

            <li>
                Once you’re in the Online Dashboard – select Show Functions.
                <ul>
                    <li>Note: if your unit shows a green border, Online Ordering is on. If it shows a red border, Online Ordering is off. If the border is white, your unit is not OLO enabled, please contact your upline to get further instructions.</li>
                </ul>
            </li>

            <li>Visual Indicator Examples:</li>
        </ol>

        <div class="row">
            <div class="col-md-6 text-center">
                <img src="@Url.Content(\"~/Images/OLOEnabled.PNG\")"
                     class="img-responsive img-thumbnail shadow center-block"
                     style="max-width: 500px; width: 100%; height: auto;"
                     alt="OloEnabled"
                     data-toggle="modal"
                     data-target="#OloEnabledModal">
            </div>

            <div class="col-md-6 text-center">
                <img src="@Url.Content(\"~/Images/OLODisabled.PNG\")"
                     class="img-responsive img-thumbnail shadow center-block"
                     style="max-width: 500px; width: 100%; height: auto;"
                     alt="OLODisabled"
                     data-toggle="modal"
                     data-target="#OloDisabledModal">
            </div>
        </div>

        <!-- Modals -->
        <div class="modal fade" id="OloEnabledModal" tabindex="-1" role="dialog" aria-labelledby="OLOEnabledLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-body text-center">
                        <img src="@Url.Content(\"~/Images/OLOEnabled.PNG\")" class="img-fluid" alt="OLOEnabled">
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="OloDisabledModal" tabindex="-1" role="dialog" aria-labelledby="OLODisabledLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-body text-center">
                        <img src="@Url.Content(\"~/Images/OLODisabled.PNG\")" class="img-fluid" alt="OLODisabled">
                    </div>
                </div>
            </div>
        </div>

        <ol start="6">
            <li>Select the turn button on/off, and the pin is 9233.</li>
        </ol>
    </div>
</div>

<!-- Refund Section -->
<div class="panel-heading">
    <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accMicro" href="#MiccollapseOloRef">Refund an Online Order</a>
    </h4>
</div>

<div id="MiccollapseOloRef" class="panel-collapse collapse">
    <div class="panel-body">
        <h4>Refund an Online Order</h4>

        <ol>
            <li>Navigate to the Online Dashboard:</li>

            <li>On The Register:
                <ol>
                    <li>From the Ticket Entry screen, tap "functions"</li>
                    <li>Tap the "previous shift sales and text customer" button in the WH Expo sales column</li>
                    <li>
                        <ul>
                            <li>Note: some registers may show this button with a different name. It will be the top most button in the 3rd column.</li>
                        </ul>
                    </li>
                </ol>
            </li>

            <li>On Ops Express:
                <ol>
                    <li>Log into ops express</li>
                    <li>Select Unit Operations/Online Scheduling</li>
                    <li>Select Online Dashboard</li>
                </ol>
            </li>

            <li>Once you’re in the Online Dashboard – Tap on the Order ID</li>
        </ol>

        <div class="row">
            <div class="col-md-6 text-center">
                <img src="@Url.Content(\"~/Images/OLORefund1.PNG\")"
                     class="img-responsive img-thumbnail shadow center-block"
                     style="max-width: 300px; width: 100%; height: auto; cursor: pointer;"
                     alt="OLO Refund 1"
                     data-toggle="modal"
                     data-target="#OLORefund1Modal">
            </div>

            <div class="col-md-6 text-center">
                <img src="@Url.Content(\"~/Images/OLORefund2.PNG\")"
                     class="img-responsive img-thumbnail"
                     style="max-width: 300px; height: auto; cursor: pointer;"
                     alt="OLO Refund 2"
                     data-toggle="modal"
                     data-target="#OLORefund2Modal">
            </div>
        </div>

        <!-- Refund Modals -->
        <div class="modal fade" id="OLORefund1Modal" tabindex="-1" role="dialog" aria-labelledby="OLORefund1ModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-body text-center">
                        <img src="@Url.Content(\"~/Images/OLORefund1.PNG\")" class="img-fluid" alt="OLO Refund 1 Full View">
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="OLORefund2Modal" tabindex="-1" role="dialog" aria-labelledby="OLORefund2ModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-body text-center">
                        <img src="@Url.Content(\"~/Images/OLORefund2.PNG\")" class="img-fluid" alt="OLO Refund 2 Full View">
                    </div>
                </div>
            </div>
        </div>

        <ol start="5">
            <li>Click the refund button</li>
            <li>Select the best reason from the options given
                <ul>
                    <li>If there was an error with the order, you might select "customer not satisfied"</li>
                </ul>
            </li>
            <li>Tap on the pin box and enter the pin
                <ul>
                    <li>The pin is 9233</li>
                </ul>
            </li>
            <li>Hit the submit button.</li>
        </ol>

        <div class="row">
            <div class="col-sm-4">
                <img src="@Url.Content(\"~/Images/OLORefund3.PNG\")"
                     class="img-responsive img-thumbnail center-block"
                     style="max-width: 400px; height: auto;"
                     alt="OLO Refund 3">
            </div>
        </div>
    </div>
</div>


<!--<div class="panel-heading">
    <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accMicro" href="#MiccollapseDataEntry">Data Entry Error - With refund on any shift</a>
    </h4>
</div>-->
<div id="MiccollapseDataEntry" class="panel-collapse collapse">
    <div class="panel-body">
        <h4>Data Entry Error - With refund on any shift</h4>

        <ol>
            <li>When entering sales, the error message appears stating, "Data Entry found on shift."</li>
            <li>If a refund is on the shift that is giving you an error perform the following:</li>
            <ol>
                <li>You must add the total sales + the credit card sales = ending register reading.</li>
                <li>Keep the refund in the refund line on the sales and register reading screen. </li>
            </ol>
            **NOTE: If the above doesn't work, please refer to the Z sales in Ops Express.
            <li>To get the correct sales: Go to Ops Express and click on Unit Operations/Online Scheduling or on your register navigate to the online dashboard in the functions tab</li>
            <li>Click on Online Dashboard and then click on Form 4 Z to see your Z reports. **</li>
        </ol>
    </div>
</div>

<!--<div class="panel-heading">
    <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accMicro" href="#MiccollapseDataEntry2">Data Entry Error - Sales Inaccurate or Z report is showing all "0's"</a>
    </h4>
</div>-->
<div id="MiccollapseDataEntry2" class="panel-collapse collapse">
    <div class="panel-body">
        <h4>Data Entry Error - Sales Inaccurate or Z report is showing all "0's"</h4>
        <ol>
            <li>Navigate to the online Dashboard:</li>
            <ul>
                <li>On Ops Express click on Unit Operations/Online Scheduling then Online Dashboard</li>
                <li>On the register, tap on the functions tab then tap "Online Dashboard"</li>
            </ul>
            <li>Tap on the Form 4 Z tab </li>
            <li>New Form 4 Data appears every day at 7 PM.</li>
        </ol>

    </div>
</div>
<!--<div class="panel-heading">
    <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accMicro" href="#MiccollapseDataEntry3">Z report is showing all "0's" on the Online Dashboard - Form 4 Z</a>
    </h4>
</div>-->
<div id="MiccollapseDataEntry3" class="panel-collapse collapse">
    <div class="panel-body">
        <h4>Z report is showing all "0's" on the Online Dashboard - Form 4 Z </h4>
        <ol>
            <li>Calulate your sales from the receiepts and yellow tickets.</li>
            <li>Call tech support at 770-729-5933 option 2 for troubleshooting assistance.</li>

        </ol>

    </div>
</div>
<div class="panel-heading">
    <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accMicro" href="#MiccollapseEquip">Ordering Spare Equipment </a>
    </h4>
</div>
<div id="MiccollapseEquip" class="panel-collapse collapse">
    <div class="panel-body">
        <h4>Ordering Spare Equipment - Oracle Only </h4>
        <!--<ul>
            <li>Please call Oracle support at 800-305-8649.</li>
            <ul>
                <li>Select option 2 to order the register screen, printer and cash drawer.</li>
                <li>Select option 3 to order the credit card reader(PED).</li>
            </ul>
        </ul>-->
        <ul><b>ONLY DVN, RGN, & ARA MGRS CAN ORDER SPARE EQUIPMENT</b>
            <li> Please email Sparerequest@wafflehouse.com </li>
            <li> Please include home unit number, P#, and items you will need. </li>
            <li> Please note you are only able to order 1 device per item listed below:<</li>
            <ul>
                <li>Oracle TSR Monitor</li>
                <li>Oracle TSR Printer</li>
                <li>Oracle TSR Cash Drawer</li>
                <li>Oracle TSR PED (Credit Card Reader)</li>
                <li>Cradlepoint Router</li>
            </ul>
        </ul>
    </div>
</div>


<!--<div class="panel-heading">
    <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accMicro" href="#MiccollapseSpare">Setting up a spare </a>
    </h4>
</div>-->

<div id="MiccollapseSpare" class="panel-collapse collapse">
    <div class="panel-body">
        <h4>Setting up a spare register screen:</h4>
        <ul>
            <li>Please call tech support at 770-729-5933 or email uis@wafflehouse.com before setting up a spare Oracle register.</li>

        </ul>

    </div>
</div>

<div class="panel-heading">
    <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accMicro" href="#MiccollapseGift">How to accept Gift Cards on the Oracle Register: </a>
    </h4>
</div>
<div id="MiccollapseGift" class="panel-collapse collapse">
    <div class="panel-body">
        <h4>How to accept Gift Cards on the Oracle Register: </h4>

        <ul>
            There are two types of Waffle House gift cards - Blackhawk and Valuelink. Each gift card is processed differently on the Oracle system. Follow these steps when processing a gift card transaction.
            <li>Blackhawk gift card:</li>
            How to identify:
            <ol>

                <li>Labeled “This card is not reloadable.” </li>
                <li>The card number starts with a “4.” </li>
            </ol>
            Transaction – Just like Credit Cards
            <ol>

                <li>Press Dine-in or To Go. </li>
                <li>Enter the check amount and Select Card on the right side of the screen. </li>
                <li>On the customer-facing side, the customer will enter tip information before swiping their card. </li>
            </ol>
            <li>Manual Entry for Black Hawk:</li>
            <ol>
                <li>Press Dine-in or To Go.</li>
                <li>Enter the check amount and Select Gift Card/Spilt on the left side of the screen.</li>
                <li>Press Manual Card</li>
                <li>On the customer-facing side, the customer will enter tip information before entering their card information.</li>
            </ol>
            <li>Valuelink gift card: </li>
            How to identify
            <ol>

                <li>Labeled "Treat this card like cash." </li>
                <li>The card number starts with a "6." </li>

            </ol>
            Transaction – Swipe on the Register
            <ol>

                <li>Press Dine-in or To Go. </li>
                <li>Enter the check amount and Select Gift Card on the left side of the screen. </li>
                <li>Select Waffle House Gift Card on the right side of the screen. </li>
                <li>A screen will appear stating to “Enter name or swipe.” You will then swipe the card on the register. *There will be no prompt for tips when running a gift card on the register screen.* </li>
                <li>After the card is swiped, a Valuelink Redeem box will appear; confirm the ticket amount is correct and press ‘OK.’ </li>
            </ol>
            <li>Manual Entry for Valuelink:</li>
            <ol>
                <li>Press Dine-in or To Go.</li>
                <li>Enter the check amount and Select Gift Card/Spilt on the left side of the screen.</li>
                <li>Press Waffle House Gift Card</li>
                <li>On the register screen, the Account Number Entry, Enter Name, or Swipe Card window will appear. Enter the card number on the back of the card.</li>
            </ol>
            <!--<li>Troubleshooting - For Blackhawk or Valuelink Cards </li>
            <ul>
                <li>Issue: An “Invalid bin” or “PSP” error appears after the customer swipes their gift card. Action: Please call Oracle Support at 1-800-305-8649 and select option 3 or call UIS support and select option 2 to open a trouble ticket.
                <br/><b>Note:</b> If an “Invalid bin: card balance is low” error appears, then the customer has insufficient funds. </li>
                <li>Issue: A “Declined” message appears after swiping the card. Action: Rerun the transaction. ; if it declines the second time, the customer will need to call the customer support line on the back of the card. </li>
                <li>Issue: “Swipe Failed” message appears. Action: Have the customer swipe the card again; if the “Swipe Failed” error appears a second time, the mag swipe on the gift card might be bad. The customer will need to call the customer support line on the back of the card/contact the merchant that the card was purchased from. </li>

            </ul>-->
        </ul>

    </div>
</div>



    </div>
    </div>


</div>
