@{
    ViewData["Title"] = "Time Clock";
}
<h1>@ViewData["Title"]</h1>

<div class="panel-group" id="accTimeclock">
    <div class="panel panel-default">
        <div class="panel-heading" )")">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accTimeclock" href="#tcollapse0">How to Set Up a Time Clock</a>
            </h4>
        </div>
        <div id="tcollapse0" class="panel-collapse collapse">
            <div class="panel-body">
                <h4>How to set up a touch screen time clock </h4>
                <ol>
                    <li>Flip the time clock over to where you see all the ports.</li>
                    (To see where these are located, please see the "devices" category under "other")
                    <li>Plug in the following cables: Power, VGA, and USB</li>
                    <!--<img src="@Url.Content("~/Images/tcSetup1.PNg")")" alt="Cables for Timeclock" class="center">-->
                    <li>Have your maintenance technician or upper management place the time clock on the wall if you don't know how to mount the time clock. </li>
                    <b>FOR NEW COMPUTERS ONLY:</b>
                    <ul>
                        <li>Attach the other end of the VGA cable that is not connected to the time clock to the HDMI adapter. The HDMI adapter is connected to your computer underneath the red network cable also connected to your computer.</li>
                        <li>Connect the other end of the USB cable to one of the USB ports on the back of the computer. </li>
                    </ul>
                    <br />

                    <div class="btn-group">
                        <div class="row">
                            <div class="col-md-6">
                                <button class="btn btn-primary" data-toggle="collapse" data-target="#collapseTCS1">
                                    Adapter and Cable
                                </button>
                                <div id="collapseTCS1" class="collapse">
                                    <div style="width: 500px;">
                                        <img src="@Url.Content("~/Images/TC-SetUpN1.jpg")" data-toggle="modal" data-target="#modalTCS1" class="img-responsive" style="max-width: 500px; height: auto;" />
                                        <p class="text-wrap">
                                            The blue VGA cable (right) should be plugged into the VGA to HDMI adapter (left).
                                        </p>
                                    </div>
                                </div>

                                <div class="modal fade" id="modalTCS1" tabindex="-1" role="dialog" aria-labelledby="modalLabelTCS1" aria-hidden="true">
                                    <div class="modal-dialog modal-lg" role="document">
                                        <div class="modal-content">
                                            <div class="modal-body text-center"> <img src="@Url.Content("~/Images/TC-SetUpN1.jpg")" class="img-fluid" alt="TC-SetUpN1" /> </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="col-md-6">
                                <button class="btn btn-primary" data-toggle="collapse" data-target="#collapseTCS2">
                                    VGA-HDMI Adapter
                                </button>
                                <div id="collapseTCS2" class="collapse">
                                    <div style="width: 500px;">
                                        <img src="@Url.Content("~/Images/TC-SetUpN2.jpg")" data-toggle="modal" data-target="#modalTCS2" class="img-responsive" style="max-width: 500px; height: auto;" />
                                        <p class="text-wrap">
                                            Make sure the thumb screws on the blue VGA cable are secured.
                                        </p>
                                    </div>
                                </div>

                                <div class="modal fade" id="modalTCS2" tabindex="-1" role="dialog" aria-labelledby="modalLabelTCS2" aria-hidden="true">
                                    <div class="modal-dialog modal-lg" role="document">
                                        <div class="modal-content">
                                            <div class="modal-body text-center"> <img src="@Url.Content("~/Images/TC-SetUpN2.jpg")" class="img-fluid" alt="TC-SetUpN2" /> </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        </br>

                        <div class="row">
                            <div class="col-md-6">
                                <button class="btn btn-primary" data-toggle="collapse" data-target="#collapseTCS3">
                                    Z-box Ports
                                </button>
                                <div id="collapseTCS3" class="collapse">
                                    <div style="width: 500px;">
                                        <img src="@Url.Content("~/Images/TC-SetUpN3.jpg")" data-toggle="modal" data-target="#modalTCS3" class="img-responsive" style="max-width: 500px; height: auto;" />
                                        <p class="text-wrap">
                                            The ports the time clock is plugged into will look like this. Make sure that the adapter is plugged into the HDMI port below the red network cable. If it does not, please check for the correct HDMI to VGA adapter.
                                        </p>
                                    </div>
                                </div>

                                <div class="modal fade" id="modalTCS3" tabindex="-1" role="dialog" aria-labelledby="modalLabelTCS3" aria-hidden="true">
                                    <div class="modal-dialog modal-lg" role="document">
                                        <div class="modal-content">
                                            <div class="modal-body text-center"> <img src="@Url.Content("~/Images/TC-SetUpN3.jpg")" class="img-fluid" alt="TC-SetUpN3" /> </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <button class="btn btn-primary" data-toggle="collapse" data-target="#collapseTCS4">
                                    Set up Z-box
                                </button>
                                <div id="collapseTCS4" class="collapse">
                                    <div style="width: 500px;">
                                        <img src="@Url.Content("~/Images/TC-SetUpN4.jpg")" data-toggle="modal" data-target="#modalTCS4" class="img-responsive" style="max-width: 500px; height: auto;" />
                                        <p class="text-wrap">
                                            The cable set up for the time clock in the computer will look something like this when plugged into a computer of this style. These steps still apply to other new (zotak "z-box") computers.
                                        </p>
                                    </div>
                                </div>

                                <div class="modal fade" id="modalTCS4" tabindex="-1" role="dialog" aria-labelledby="modalLabelTCS4" aria-hidden="true">
                                    <div class="modal-dialog modal-lg" role="document">
                                        <div class="modal-content">
                                            <div class="modal-body text-center"> <img src="@Url.Content("~/Images/TC-SetUpN4.jpg")" class="img-fluid" alt="TC-SetUpN4" /> </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br />

                        <!--
                        <b>FOR OLDER COMPUTERS ONLY:</b>
                        <ul><li>Attach the other end of the VGA cable that is not connected to the time clock to the DVI to VGA adapter attached to the back of the computer, or if you don't have a DVI to VGA adapter, connect the VGA cable directly to the VGA port on the back of the computer</li>
                        <li>Connect the other end of the USB cable to one of the USB ports on the back of the computer. </li></ul>
                        <br/>
                        <div class="row">
                            <div class="col-sm-4">
                                <center><u>VGA-DVI Adapter</u></center>
                                <a><img src="@Url.Content("~/Images/TC-SetUpO1.PNg")")" data-toggle="modal" data-target="#TC-SetUpO1"   alt="1" class="full"></a>
                                <p>VGA to DVI adapter.  The left side shows the port where the blue VGA cable should be inserted.</p>
                            </div>
                            <div class="col-sm-4">
                                <center><u>Old Computer Ports</u></center>
                                <a><img src="@Url.Content("~/Images/TC-SetUpO2.jpg")")" data-toggle="modal" data-target="#TC-SetUpO2"   alt="1" class="full"></a>
                                <p>Not all of the older computers look the same, but they should have a DVI port (left) and at least one open USB port (right).  We will not be using the green serial ports to the far left.
                            </div>

                            <div class="col-sm-4">
                                <center><u>Set up computer.</u></center>
                                <a><img src="@Url.Content("~/Images/TC-SetUpO3.jpg")")" data-toggle="modal" data-target="#TC-SetUpO3"   alt="1" class="full"></a>
                                <p>The cable set up for the time clock in the computer will look something like this when plugged into a computer of this style.  This applies generally to older model computers.</p>
                            </div>
                        </div>
                        -->
                    <li>Once all the cables are connected to the correct ports. Press the power button on the time clock monitor.</li>

                    <div class="btn-group">
                        <div class="row">
                            <div class="col-md-6">
                                <button class="btn btn-primary" data-toggle="collapse" data-target="#TCS5">
                                    Power Button on the <b>new model</b> of Elo
                                </button>
                                <div id="TCS5" class="collapse">
                                    <div style="width: 475px;">
                                        <img src="@Url.Content("~/Images/TcPwr-1.JPg")" )" data-toggle="modal" data-target="#modalTCS5" class="img-responsive" style="max-width: 500px; height: auto;" />
                                        <p class="text-wrap">
                                            On <b>newer</b> ELO monitors, the power button is found to the bottom right side of the screen.  It is the right most button.
                                        </p>
                                    </div>
                                </div>
                                <div class="modal fade" id="modalTCS5" tabindex="-1" role="dialog" aria-labelledby="modalLabelTCS5" aria-hidden="true">
                                    <div class="modal-dialog modal-lg" role="document">
                                        <div class="modal-content">
                                            <div class="modal-body text-center"> <img src="@Url.Content("~/Images/TcPwr-1.JPg")" class="img-fluid" alt="TC-TcPwr-1" /> </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            

                            <div class="col-md-6">
                                <button class="btn btn-primary" data-toggle="collapse" data-target="#TCS6">
                                    Power button on the <b>old style</b> of Elo
                                </button>
                                <div id="TCS6" class="collapse">
                                    <div style="width: 580px;">
                                        <img src="@Url.Content("~/Images/TcPwr-2.JPg")" )" data-toggle="modal" data-target="#modalTCS6" class="img-responsive" style="max-width: 500px; height: auto;" />
                                        <p class="text-wrap">
                                            On <b>older</b> ELO monitors, the power button is found to the right side of the screen. It is the bottom most button.
                                        </p>
                                    </div>
                                </div>
                                <div class="modal fade" id="modalTCS6" tabindex="-1" role="dialog" aria-labelledby="modalLabelTCS6" aria-hidden="true">
                                    <div class="modal-dialog modal-lg" role="document">
                                        <div class="modal-content">
                                            <div class="modal-body text-center"> <img src="@Url.Content("~/Images/TcPwr-2.JPg")" class="img-fluid" alt="TC-TcPwr-2" /> </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <br />

                    <li>The time clock monitor and office monitor should show the same on both monitors.</li>
                    <li>On the keyboard in the office, you will press the window logo and the letter 'P.' </li>
                    <div class="keyboard-container">
                        @Html.Partial("_Keyboard")
                    </div>

                    
                    <li>A "Project" option menu will show on your office monitor. <button class="btn btn-primary" data-toggle="collapse" data-target="#TC_MirrorCollapse">Show Image</button></li>
                    <div id="TC_MirrorCollapse" class="collapse">
                        @Html.Partial("_TC_Mirror")
                    </div>
                    <li>Use the mouse to select "Extend" on the "Project" option menu.</li>
                    <li>Once you've selected "Extend," minimize the UIS system application. </li>
                    <li>Once you've minimized the UIS system application. Double click on the desktop icon labeled "Set Screen Size to 1064." </li>
                    <!--<img src="screenShot/setScreenSize.PNg")")" alt="Image" class="center">-->
                    <li>The time clock application will show on the time clock monitor.</li>
                    <li>Now, you will need to align the time clock.</li>
                    <li>On the office monitor, look on the bottom right of your screen. You should see an "ELO"(@Html.Partial("_Elo"))" logo; if not, ensure the clock's USB cable is plugged into the back of the computer. </li>
                    <li>Double click on the "ELO" (@Html.Partial("_Elo"))" logo. </li>
                    <li>An ELO option menu will show on the office monitor screen. Click on "Align."</li>
                    <!--<img src="@Url.Content("~/Images/.PNg")")" alt="Image" class="center">-->
                    <li>Once you've selected "Align," a blue screen will pop up on the office monitor screen. You will then press the "ESC" key on the keyboard.</li>
                    <!--<img src="@Url.Content("~/Images/.PNg")")" alt="Image" class="center">-->
                    <li>The blue screen will then appear on the time clock monitor. You will press each target that shows on the monitor. </li>
                    <!--<img src="@Url.Content("~/Images/.PNg")")" alt="Image" class="center">-->
                    <li>The alignment will end once you've selected the "Green Check Mark." (<b style="color:green;">✓</b>)</li>
                    <!--<img src="@Url.Content("~/Images/.PNg")")" alt="Image" class="center">-->
                    <li>Test the time clock by having someone clock in.</li>
                </ol>

            </div>
        </div>

        <div class="panel-heading" )")">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accTimeclock" href="#tcollapse1">Screen is Rotated Wrong</a>
            </h4>
        </div>
        <div id="tcollapse1" class="panel-collapse collapse">
            <div class="panel-body">
                <h4>The time clock monitor is rotated incorrectly</h4>
                <ul>
                    <li>Using your finger, press the blue background on the time clock monitor.</li>

                    <li>
                        On the keyboard in the office, press and hold the following keys for 10 seconds:<br>
                        Ctrl key, Alt, and Up Arrow (&#8679)
                        <button class="btn btn-primary" data-toggle="collapse" data-target="#keyboardCollapse">Show Images</button>
                        <ul>
                            <li>All three keys must be held down simultaneously.</li>
                        </ul>
                        <div class="keyboard-container">
                            @Html.Partial("_Keyboard")
                        
                    </li>
                    <li>After 10 seconds, check the monitor—it should now be correctly oriented.</li>
                    <li>Repeat steps 1–3 if the monitor doesn't rotate properly on the first attempt.</li>
                </ul>
            </div>
        </div>

        <div class="panel-heading" )")">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accTimeclock" href="#tcollapse2">Screen is Mirroring</a>
            </h4>
        </div>
        <div id="tcollapse2" class="panel-collapse collapse">
            <div class="panel-body">
                <p>Office Monitor and Timeclock monitor show the same screen</p>
                <ul>
                    <li>Press and hold the "Windows" logo key <img src="@Url.Content("~/Images/uis_keyboard_win.PNg")" )" width="24" height="24" alt="Home Button: resembles a house"> and the letter "P" key on your keyboard at the same time. <button class="btn btn-primary" data-toggle="collapse" data-target="#TC1" , "TC2">Show Images</button></li>

                    <div id="TC1" class="collapse">
                        @Html.Partial("_Keyboard")
                    </div>
                    <li>A "Project" option menu will pop up and select "Extend" this will stop the screens from mirroring.<button class="btn btn-primary" data-toggle="collapse" data-target="#TC2">Show Images</button></li>
                    <div id="TC2" class="collapse">
                        @Html.Partial("_TC_Mirror")
                    </div>
                    <li>You will then minimize the UIS system</li>
                    @Html.Partial("_Minimizeuis")
                    <li>Once UIS is minimized look for the icon labeled "Set Screen Size to 1024" and double click the icon and the office monitor and timeclock monitor resolution will automatically align.</li>
                    <img src="@Url.Content("~/Images/setScreenSize.PNg")" )" class="center" alt="image shows an icon labeled set screen size to 1024 with the image of two gears">
                    <li>If you're having issues with these steps please email <b>uis@wafflehouse.com.</b></li>
                </ul>
            </div>
        </div>

        <div class="panel-heading" )")">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accTimeclock" href="#tcollapse3">Screen is Blue</a>
            </h4>
        </div>
        <div id="tcollapse3" class="panel-collapse collapse">
            <div class="panel-body">
                <h4>The time clock monitor is showing a blue screen</h4>
                <ol>
                    <li>Minimize your UIS system application on your office monitor</li>
                    @Html.Partial("_Minimizeuis")
                    <li>Look for the icon labeled "UIS Time Clock."</li>
                    <img src="@Url.Content("~/Images/UISTimeClock.PNg")" )" class="center" alt="image shows an icon labeled set screen size to 1024 with the image of two gears">
                    <li>Double-click the "UIS Time Clock" icon and look at the time clock monitor to ensure that the time clock application is now showing.</li>
                </ol>
            </div>
        </div>

        <div class="panel-heading" )")">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accTimeclock" href="#tcollapse4">No Display Found</a>
            </h4>
        </div>
        <div id="tcollapse4" class="panel-collapse collapse">
            <div class="panel-body">
                <h4> No Display Found</h4>
                <ol>
                    <li>Press the power button on the timeclock if "No Cable Connected" or "No Display Found" shows on the touch screen. Restart the computer.</li>
                    <li>After restarting the computer. Check to see if the timeclock application pops up on the timeclock monitor. If not, You will need to check the cables of the timeclock.</li>
                    <li>By checking the cables, make sure the cables that are attached to the timeclock are plugged in. </li>
                    </br>
                    <div class="row">
                        <div class="col-sm-4">
                            <center><u>Old model Elo</u></center>
                            <img src="@Url.Content("~/Images/noDisplayOld.JPg")" )" data-toggle="modal" data-target="#noDisplayOld" style="max-width:1000px; width:100%;" class="full">
                        </div>
                        <div class="col-sm-4">
                            <center><u>New model Elo</u></center>
                            <img src="@Url.Content("~/Images/noDisplayNew.JPg")" )" data-toggle="modal" data-target="#noDisplayNew" style="max-width:1000px; width:100%;" class="full">
                        </div>
                        <div class="col-sm-4">
                            <ul>
                                <li>Make sure the thumb screws are secured on the VGA cable.<b class="labelColor-1">(1)</b></li>
                                <li>Make sure that the USB cable is plugged in <b class="labelColor-2">(2)</b></li>
                                <li>Make sure the power cable is plugged in <b class="labelColor-3">(3)</b></li>
                            </ul>

                        </div>
                    </div>
                    </br>

                    <li>
                        <b>For newer computers only:</b> Check and ensure that the VGA cable is connected to the HDMI adapter. The HDMI adapter is the cord plugged into the port underneath the
                        red ethernet cable plugged right above the HDMI adapter.
                    </li>
                    <li>If the VGA cable is plugged into the HDMI adapter. Unplug the computer's HDMI adapter, plug the HDMI Adapter back in, and press the power button on the timeclock.</li>
                    </br>
                    <div class="row">
                        <div class="col-sm-4">
                            <center><u>Example Zotak Computer</u></center>
                            <img src="@Url.Content("~/Images/noDisplayZbox.JPg")" )" data-toggle="modal" data-target="#noDisplayZbox" style="max-width:1000px; width:100%;" class="full">
                        </div>
                        <div class="col-sm-4">
                            <center><u>New model Elo</u></center>
                            <img src="@Url.Content("~/Images/noDisplayHDMI.JPg")" )" data-toggle="modal" data-target="#noDisplayHDMI" width="550" style="max-width:1000px; width:100%;" class="full">
                        </div>
                        <div class="col-sm-4">
                            <ul>
                                <li>The sure the HDMI to VGA adapter<b class="labelColor-2">(2)</b> is plugged into the HDMI port under the red network cable <b class="labelColor-1">(1)</b></li>
                                <li>Make sure the VGA cable <b class="labelColor-3">(3)</b> is plugged into the HDMI to VGA adapter <b class="labelColor-2">(2)</b> </li>
                                <li>Make sure the thumb screws are secured <b class="labelColor-4">(4)</b></li>
                            </ul>

                        </div>
                    </div>
                    </br>
                    <li>If the time clock isn't displaying, please call UIS tech support at <u><b>770-729-5933</b></u> and select <b>option 3</b> for additionali assistance.</li>
                </ol>
                <b>For older computers only: </b>
                <!--<ol start="4">
                    <div class="row">
                        <div class="col-sm-8">
                            <li>Check and ensure that the VGA cable <b class="labelColor-1">(1)</b> is plugged into the DVI to VGA adapter <b class="labelColor-2">(2)</b> and ensure that the DVI adapter <b class="labelColor-2">(2)</b> is plugged into the back of the computer. Some VGA cables won't be plugged into a DVI to VGA adapter depending on the type of older model computer the unit has.</li>
                        </div>
                        <div class="col-sm-4">
                            <a><img src="@Url.Content("~/Images/NoDisplayOld1.jpg")")" data-toggle="modal" data-target="#NoDisplayOld1" class="full"></a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-8">
                            <li>If your time clock VGA cable isn't plugged into a  DVI to VGA adapter, then ensure the VGA cable is plugged into the back of the computer. </li>
                        </div>
                        <div class="col-sm-4">
                            <!--<a><img src="@Url.Content("~/Images/PC2VGA.jpg")")" data-toggle="modal" data-target="#PC2VGA"class="full"></a>
                        </div>
                    </div>

                    <li>Press the power button on the time clock monitor. </li>
                    <li>If the time clock isn't displaying, please call UIS tech support at <u><b>770-729-5933</b></u> and select <b>option 3</b> for additionali assistance.</li>
                </ol>-->
                <p>If the time clock isn't displaying, please call UIS tech support at <u><b>770-729-5933</b></u> and select <b>option 3</b> or email uis@wafflehouse.com for additionali assistance.
            </div>
        </div>

        <div class="panel-heading" )")">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accTimeclock" href="#tcollapse5">Calibrate Touch/ No Touch Response</a>
            </h4>
        </div>
        <div id="tcollapse5" class="panel-collapse collapse">
            <div class="panel-body">
                <h4>Calibrate Touch/ No Touch Response</h4>
                <p>If your touch screen time clock is not responding to touch inputs or the touch inputs are incorrect, please follow the following steps to callibrate the touchscreen.</p>
                <ol>
                    <li>On the office monitor, look on the bottom right of your screen. You should see an "ELO" (@Html.Partial("_Elo"))" logo; if not, ensure the clock's USB cable is plugged into the back of the computer. </li>
                    <!--image-->
                    <li>Double click on the "ELO" (@Html.Partial("_Elo")) logo. </li>
                    <li>An ELO option menu will show on the office monitor screen. Click on "Align."</li>
                    <!--Image-->
                    <li>Once you've selected "Align," a blue screen will pop up on the office monitor screen. You will then press the "ESC" key on the keyboard.</li>
                    <!--Image-->
                    <li>The blue screen will then appear on the time clock monitor. You will press each target that shows on the monitor. </li>
                    <!--Image-->
                    <li>The alignment will end once you've selected the "Green Check Mark." (<b style="color:green;">✓</b>)</li>
                    <!--Image-->
                    <li>Test the time clock by having someone clock in.</li>
                </ol>
                <p>If you cannot press the targets or green check mark, plug the USB cord for the time clock into a different USB port on the computer, restart the computer and once it comes back on, perform the alignment process again.</p>
                <p>If these steps do not solve the issue completely, please try again then call UIS tech support for further assistance.
            </div>
        </div>
        <div class="panel-heading" )")">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accTimeclock" href="#tcollapse6">Metal Time Clock</a>
            </h4>
        </div>
        <div id="tcollapse6" class="panel-collapse collapse">
            <div class="panel-body">
                <h4>Metal Time Clock</h4>
                <p>There are few steps to troubleshoot the metal ATS time clocks alone, and due to their age it is likely they need to be replaced if they are experiencing any issues.  </p>


                <p>A new computer set up with a touch screen time clock will need to be ordered if your old-style time clock is experiencing the issues below: </p>
                <ul>
                    <li>No longer loading clock-in/clock-out times.</li>
                    <li>Has an error message on the time clock screen.</li>
                    <li>Doesn't power on. </li>
                </ul>

            </div>
        </div>

    </div>
</div>

