
@{
    ViewData["Title"] = "UIS";
}

<h1>UIS</h1>

    <div class="panel-group" id="accUIS">
        <div class="panel panel-default">

            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accUIS" href="#Ucollapse12">Back Office Router</a>
                </h4>
            </div>
            <div id="Ucollapse12" class="panel-collapse collapse">
                <div class="panel-body">
                    <h3>Back Office Router - Troubleshooting</h3>
                    <h4>Showing no indicator lights</h4>
                    <ol>
                        <li>Ensure the power cable is plugged into the router and the power brick is plugged into the wall.</li>
                        <li>The router will take 5-10 minutes to reconnect to the AT&T network.</li>
                    </ol>
                    <hr />
                    <h4>Not Showing the correct indicator lights for being online</h4>
                    <p>There are two models of cradle point router used for the UIS computers and phones in the office</p>
                    <div class="row">
                        <div class="col-sm-3">
                            <ol>
                                AER1600:
                                <li>Three Green</li>
                                <li>Four Blue</li>
                            </ol>
                            <br />
                            <!--<image src="" class="full" alt="image showing the status of the AER1600">-->
                        <button class="btn btn-primary" data-toggle="collapse" data-target="#aer">Show aer1600</button>
                        <div id="aer" class="collapse">
                            <div class="row">
                                <img src="@Url.Content("~/Images/AER1600.jpg")" class="img-responsive img-thumbnail center-block"
                                     style="max-width: 300px; height: auto;"
                                     alt="AER1600"
                                     data-toggle="modal"
                                     data-target="#AER1600">
                            </div>
                        </div>

                        <div class="modal fade" id="AER1600" tabindex="-1" role="dialog" aria-labelledby="UPScModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-lg" role="document">
                                <div class="modal-content">
                                    <div class="modal-body text-center">
                                        <img src="@Url.Content("~/Images/AER1600.jpg")" class="img-fluid" alt="aer1600">
                                    </div>
                                </div>
                            </div>
                        </div>
                        </div>

                        <div class="col-sm-3">
                            <ol>
                                E300:
                                <li>Three Green</li>
                                <li>Four Blue</li>
                            </ol>
                            <br />
                            <!--<image src="" class="full" alt="image showing the status of the E300">-->
                        <button class="btn btn-primary" data-toggle="collapse" data-target="#Collapsee300">Show e300</button>
                        <div id="Collapsee300" class="collapse">
                            <div class="row">
                                <img src="@Url.Content("~/Images/E300.jpg")" class="img-responsive img-thumbnail center-block"
                                     style="max-width: 300px; height: auto;"
                                     alt="E300"
                                     data-toggle="modal"
                                     data-target="#e300">
                            </div>
                        </div>

                        <div class="modal fade" id="e300" tabindex="-1" role="dialog" aria-labelledby="e300label" aria-hidden="true">
                            <div class="modal-dialog modal-lg" role="document">
                                <div class="modal-content">
                                    <div class="modal-body text-center">
                                        <img src="@Url.Content("~/Images/E300.jpg")" class="img-fluid" alt="E300">
                                    </div>
                                </div>
                            </div>
                        </div>
                        </div>
                 </div>
                    <ul>
                        <li>If you do not see the online indicator lights lit on the router, make sure the power brick is plugged into a power outlet or power strip and that the power switch next to the port labeled '1' is in the on position. </li>
                        <li>The router will take 5-10 minutes to reconnect to the AT&T network.</li>
                        <li>If the router is taking more than 10 minutes to connect to the network. Perform a 'Reset', you will need to get a paperclip or any object that is small enough to press the reset button on the back of the router.</li>
                        <li>The 'Reset' button is located on the back of the router right beside the port labeled 'WAN.' You have to press on the reset button for 30 seconds.</li>
                        <li>The router will take 10-15 minutes to reconnect to the AT&T network. </li>
                    </ul>
                    <hr />
                    <p>If these troubleshooting steps do not work, the problem with your router may be more significant, please call UIS tech support at <b><u>770-729-5933</u></b> and select <b>option 3</b> for more assistance.</p>
                </div>
            </div>
       
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accUIS" href="#Ucollapse11">ATA-Phone Modem </a>
                </h4>
            </div>
            <div id="Ucollapse11" class="panel-collapse collapse">
                <div class="panel-body">
                    <h4>ATA-Phone Modem Troubleshooting:</h4>
                    <p>Ensure that the large cradle point router is powered on and is connected to the internet. To know that the router is connected to the internet. Depending on the model router that you have:</p>
                    <div class="row">
                        <div class="col-sm-3">
                            <ol>
                                AER1600: ONLINE
                                <li>Three Green</li>
                                <li>Four Blue</li>
                            </ol>

                            <!--<img src="photos/thumbnail/AER1600stat.jpg" class="full" alt="image showing the status of the AER1600">-->
                        </div>
                        <div class="row">
                            <div class="col-sm-5">
                                <button data-toggle="collapse" class="btn btn-primary" data-target="#UIS3">1.AER1600</button>
                                <div id="UIS3" class="collapse">
                                    <div class="row">
                                        <div class="col">
                                        <img src="@Url.Content("~/Images/AER1600.jpg")" class="img-responsive img-thumbnail center-block" style="max-width: 400px; height: auto;" alt="AER1600 Keyboard Layout" />
                                    </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="col-sm-3">
                            <ol>
                                E300: ONLINE
                                <li>Three Green</li>
                                <li>Four Blue</li>
                            </ol>

                            <!--<image src="E300stat.jpg" class="full" alt="image showing the status of the E300">-->
                        </div>
                        <div class="row">
                            <div class="col-sm-5">
                                <button data-toggle="collapse" class="btn btn-primary" data-target="#UIS4">2.E300 ONLINE</button>
                                <div id="UIS4" class="collapse">
                                    <div class="col-lg-10">
                                    <img src="@Url.Content("~/Images/E300.jpg")" class="img-responsive img-thumbnail center-block" style="max-width: 400px; height: auto;" alt="E300 Keyboard Layout" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <p>If your router isn't showing the online status as above, please refer to the Back Office Router tab (in UIS) for Back Office Router troubleshooting.</p>
                    <hr />
                    <h4>Router is online - No dial tone or incoming calls</h4>
                    <p>Ensure that the following cables are plugged into the ATA-Phone Modem</p>
                    <div class="row">
                        <div class="col-sm-12">
                            <ol>
                                <li>Ensure that the network cable is plugged into the 'Internet' port and not the 'LAN' port</li>
                                <li>Ensure that the power cable is plugged into the 'DC-IN' port that is right beside the 'Internet' port</li>
                                <li>Ensure that the phone cord is plugged into the port labeled 'Phone 1' and that the other end of the phone cord is plugged into the charging base of the wireless phone.</li>
                                <li>Ensure that the opposite end of the network cable is plugged into the port labeled '4' on the large cradle point router.</li>
                                <li>Once you've confirmed all of the cords are plugged into the correct ports. Turn off the large cradle point router by unplugging the power cable plugged into the 'DC-IN' port on the router. The router can also be turned off by turning off the power switch right beside the port labeled '1.' </li>
                                <li>The router will take 5-12 minutes to connect back to AT&T's network. Once you see that the router is back online. Unplug the power cable from the phone modem wait 20 seconds and plug the power cable back in. Once you see four green lights on the phone modem place a call to the unit phone and call from the unit phone to ensure the phone is back operating correctly. </li>
                            </ol>
                        </div>
                        <div class="col-sm-3">
                            <!--<a><img src="photos/thumbnail/ATAstatus.jpg" data-toggle="modal" data-target="#ATAstatus" class="full" alt="IMAGE OF PHONE MODEM WITH FOUR GREEN LIGHTS"></a>-->
                            <!--<p>working modem will look like this</p>-->
                            <!--<a><img src="photos/thumbnail/ATAWires.jpg" data-toggle="modal" data-target="#ATAWires" class="full" alt="wires for phone modem"></a>-->
                            <!--<p>It should be set up like this</p>-->
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-sm-6">
                            <p>The set-up phone router diagram will have the following:</p>
                            <ul>
                                <li>A network cable connecting the phone router's "internet" port and the office router's LAN port</li>
                                <li>A phone cable between the wireless receiver and the phone router's "phone" port.</li>
                                <li>
                                    Plugged into the office Powervar/UPS battery Backup:
                                    <ul>
                                        <li>A power cable for the office router</li>
                                        <li>A power cable for the phone router</li>
                                        <li>A power cable of the wireles receiver</li>
                                    </ul>
                                <li>The power cable for the cash stand phone plugged into a power strip or power outlet.</li>


                            </ul>
                        </div>
                        <div class="col-sm-6">
                            <button data-toggle="collapse" class="btn btn-primary" data-target="#phone1"><u>The set-up phone router diagram.  </u></button>
                            <div id="phone1" class="collapse">
                                <div class="col-lg-10">
                                <img src="@Url.Content("~/Images/PhoneRouterDiagram.PNG")" class="img-responsive center-block" style="max-width: 425px; height: auto;">
                                </div>

                            </div>

                        </div>

                    </div>
                </div>
            </div>

            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accUIS" href="#Ucollapse1">ZOTAC BIOS Screen</a>
                </h4>
            </div>
            <div id="Ucollapse1" class="panel-collapse collapse">
                <div class="panel-body">
                    <h4>Stuck on ZOTAC BIOS screen</h4>
                    <ol>
                        <li>You're going to use your keyboard arrow keys to navigate this BIOS screen</li>
                        <img src="@Url.Content("~/Images/uis_keyboard_arrow.png")" alt="image shows arrow keys" class="center"/>
                        <li>You're going to use your right arrow key to go over to the "Boot" tab</li>
                        <li>Use the down arrow key to "Boot Mode."</li>
                        <li>Once you're on the "Boot Mode" tab, press the "Enter" key and use your up-arrow key to go to "Legacy Only" and press the "Enter" key again</li>
                        <li>Press the "F10" key, and a save and exit prompt will appear. Press the "Enter" key, and the computer will restart and boot up into UIS.</li>
                        <li>If the save prompt doesn't appear after pressing F10. Please repeat steps 4 & 5.</li>
                        <li>If you go through these steps, the computer goes to a blue recovery screen or won't come out of the BIOS screen,<br>Please give UIS a call at <u><b>770-729-5933</b></u> and select <b>option 3</b> </li>
                    </ol>

                </div>
            </div>

            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accUIS" href="#Ucollapse7">Mirroring Screens (Windows 10)</a>
                </h4>
            </div>
            <div id="Ucollapse7" class="panel-collapse collapse">
                <div class="panel-body">
                    <h4>The office monitor and the time clock monitor are showing the same screen.</h4>
                    <ul>
                    <li>Press and hold the Windows logo key <img src="@Url.Content("~/Images/uis_keyboard_win.png")" width="24" height="24" alt="Home Button: resembles a house"/> and the letter 'P' key</li>

                        <div class="row">
                            <button data-toggle="collapse" class="btn btn-primary" data-target="#mirror1"><u>Show keyboard  </u></button>
                            <div id="mirror1" class="collapse">
                                <div class="col-lg-10">
                                @Html.Partial("_keyboard")
                                </div>

                            </div>

                        </div>
                        <li>A "Project" option menu will appear on the office monitor with the mouse click on "Extend."</li>

                        <div class="row">
                            <button data-toggle="collapse" class="btn btn-primary" data-target="#mirror2"><u>Show Image  </u></button>
                            <div id="mirror2" class="collapse">
                                <div class="col-lg-10">
                                @Html.Partial("_TC_Mirror")
                                </div>

                            </div>

                        </div>
                        <li>Once you've extended your screen. Minimize the UIS system application. </li>
                         @Html.Partial("_Minimizeuis")
                        <li>Look for the desktop icon labeled "Set Screen Size to 1024." This will set the screen resolution for the time clock and the office monitor. </li>
                        <img src="@Url.Content("~/Images/setScreenSize.png")" class="center" alt="image shows an icon labeled set screen size to 1024 with the image of two gears">
                        <li>The time clock should now show on the time clock monitor.</li>
                    </ul>
                    <span>For older model computers, please call UIS support at 770-729-5933 or email uis@wafflehouse.com </span>

                </div>
            </div>

        @Html.Partial("_PowerVar")

            </ol>
            
<div class="panel-heading">
    <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accUIS" href="#Ucollapse8">Office Monitor Rotated Screen (Windows 10)</a>
    </h4>
</div>
<div id="Ucollapse8" class="panel-collapse collapse">
    <div class="panel-body">
        <h4>Monitor screen rotation is incorrect</h4>
        <ol>
            <li>1. Use your computer mouse to click on the office monitor's blue background.</li>
            <li>On the keyboard in the office, press and hold the following keyboard keys for 10 seconds: CTRL key, ALT key, and the Up arrow key (&#8679) </li>
            
                <div class="row">
                    <button class="btn btn-sm btn-primary " data-toggle="collapse" data-target="#image1">Show Image 1</button>
                    <div id="image1" class="collapse mt-2">
                        @Html.Partial("_Keyboard")
                    </div>
                </div>
            

            <li>All three of the keys need to be held down at the same time.</li>
            <li>After 10 seconds, the monitor screen should rotate correctly.</li>
            <li>Follow steps 1-3 if the time clock doesn't change rotations after the first try. </li>
            <li>Call <u><b>770-729-5933</b></u> and select <b>option 1</b> to have the screen rotation corrected. </li>
        </ol>
        <span>For older model computers, please call UIS support at 770-729-5933 or email uis@wafflehouse.com </span>


    </div>
</div>

<div class="panel-heading">
    <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accUIS" href="#Ucollapse9">Setting Up an Office Printer</a>
    </h4>
</div>
<div id="Ucollapse9" class="panel-collapse collapse">
    <div class="panel-body">
        <h4>Setting up an office printer</h4>
        <ul>
            <li>Make sure the printer is connected to the computer, the printer has the USB cable plugged into the back of the printer, and the other end of the USB cable is plugged into a USB port on the back of the computer.  </li>
            <br />
           <div class="row text-center mb-3">
    <div class="col-sm-4">
        <button class="btn btn-sm btn-primary btn-block" data-toggle="collapse" data-target="#id1">Show Image 1</button>
        <div id="id1" class="collapse mt-2">
            <img src="@Url.Content("~/Images/printerBack.jpg")" class="img-responsive center-block" style="max-width: 300px; height: auto;" alt="Printer Back">
        </div>
    </div>
    <div class="col-sm-4">
        <button class="btn btn-sm btn-primary btn-block" data-toggle="collapse" data-target="#id2">Show Image 2</button>
        <div id="id2" class="collapse mt-2">
            <img src="@Url.Content("~/Images/printerCable.png")" class="img-responsive center-block" style="max-width: 300px; height: auto;" alt="Printer Cable">
            <p class="mt-2">Note: It does not matter which USB port the printer is plugged into in the back of the computer.</p>
        </div>
    </div>
    <div class="col-sm-4">
        <button class="btn btn-sm btn-primary btn-block" data-toggle="collapse" data-target="#id3">Show Image 3</button>
        <div id="id3" class="collapse mt-2">
            <img src="@Url.Content("~/Images/USBAtoB.png")" class="img-responsive center-block" style="max-width: 300px; height: auto;" alt="USB A to B Cable">
            <p class="mt-2">This is what the cable should look like.</p>
        </div>
    </div>
</div>

            <br />
            <li>Make sure there is toner in the printer and paper in the paper tray. </li>
            <li>Once the office printer is connected to the computer, call <u><b>770-729-5933</b></u> and select <b>option 3</b>.</li>
        </ul>


    </div>
</div>
<!--<div class="panel-heading">
    <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accUIS" href="#Ucollapse10">CCTV</a>
    </h4>
</div>-->
<div id="Ucollapse10" class="panel-collapse collapse">
    <div class="panel-body">
        <h4>CCTV</h4>
        <ul>
            <li>Please call <u><b>770-729-5933</b></u> and ask for a transfer to the Security department for further assistance. That department is available from Monday to Friday, 8 AM to 5 PM Eastern Standard Time.  </li>
            <li>The Security department will be able to assist with anything about the CCTV system in the unit. </li>
        </ul>
    </div>
</div>


<div class="panel-heading">
    <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accUIS" href="#Ucollapse3">Commissary Inventory Worksheet/Floor Count</a>
    </h4>
</div>
<div id="Ucollapse3" class="panel-collapse collapse">
    <div class="panel-body">
        <h4>Commissary Inventory Worksheet/Floor Count</h4>
        <p>
            Please send an enail to <a href="mailto:uis@wafflehouse.com">uis@wafflehouse.com</a> with the following:
            <ul>
                <li>Unit number and the commissary inventory worksheet with items you want to remove highlighted or circled.</li>
                Example:
            </ul>

            <button data-toggle="collapse" class="btn btn-sm btn-primary " data-target="#com">Show Images</button>
            <div id="com" class="collapse">
                <div class="row">
                    <img src="@Url.Content("~/Images/FloorCount1.PNG")" class="img-responsive center-block" style="max-width: 800px; height: auto;" alt="FloorCount1 image">
                    <img src="@Url.Content("~/Images/FloorCount2.PNG")" class="img-responsive center-block" style="max-width: 800px; height: auto;" alt="Floorcount2 image">

                </div>
            </div>



    </div>
</div>

<div class="panel-heading">
    <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accUIS" href="#Ucollapse4">Did Not Receive Invoice</a>
    </h4>
</div>
<div id="Ucollapse4" class="panel-collapse collapse">
    <div class="panel-body">
        <h4>Did not receive an invoice - For food or produce</h4>
        <p>Email <a href="mailto:uis@wafflehouse.com">uis@wafflehouse.com</a> with the following:</p>
        <ul>
            <li>Subject:Missing Invoice</li>
            <li>Unit Number</li>
            <li>Invoice number </li>
            <li>Date delivered </li>
            <li>Invoice type</li>
        </ul>

    </div>
</div>

<!--<div class="panel-heading">
    <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accUIS" href="#Ucollapse5">Form 4</a>
    </h4>
</div>
<div id="Ucollapse5" class="panel-collapse collapse">
    <div class="panel-body">
        <h4>Form 4</h4>
        <p>Sales and Register - Option in UIS</p>
        <ul>
            <li>Call the front desk at<u><b> 770-729-5700</b></u> and ask for a transfer to the Area Administrators/OSS.</li>
            <li>You will only need to call UIS technical support if an error message like the image below appears:</li>
            <image src="photos/thumbnail/Form4Err.png" alt="Text in image reads 'YOUR COMPUTER JUST HAD A PROGRAM OR FILE ERROR!
            PLEASE, CALL THE HELP DESK AT THE CORPERATE OFFICE!
            THE PHONE NUMBER SHOULD BE ON A LABEL ON THE COMPUTER.'
            " class="center" >

            <b>THIS IS JUST AN EXAMPLE OF THE PROGRAM OR FILE ERROR YOU MIGHT RECEIVE</b>
            <!--<li>Aditional information can be found at <a href="file://c:\uis"target="_blank">c:\uis\uis.exel</a>--
        </ul>
    </div>
</div>-->
<!--<div class="panel-heading">
    <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accUIS" href="#Ucollapse5b">Cash Paid Outs on Level Pricing</a>
    </h4>
</div>
<div id="Ucollapse5b" class="panel-collapse collapse">
    <div class="panel-body">
        <h4>Level Pricing</h4>
        <p>Level Pricing</p>
        <ul>
            <li>Call the front desk at 770-729-5700 and ask for a transfer to US Foods Accounting. Suppose you speak with the Purchasing department. Ask them to transfer you to US Foods Accounting.</li>
            <li>You will only need to call UIS technical support if the error message is like the image below, or you cannot select 'Cash Paid Outs & Refunds' in the Sales & Cost tab's Inventory Menu.</li>
            <image src="photos/thumbnail/Form4Err.png" alt="Text in image reads 'YOUR COMPUTER JUST HAD A PROGRAM OR FILE ERROR!
            PLEASE, CALL THE HELP DESK AT THE CORPERATE OFFICE!
            THE PHONE NUMBER SHOULD BE ON A LABEL ON THE COMPUTER.'
            " class="center" >

            <b>THIS IS JUST AN EXAMPLE OF THE PROGRAM OR FILE ERROR YOU MIGHT RECEIVE</b>
        </ul>
    </div>
</div>-->
<!--<div class="panel-heading">
    <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accUIS" href="#Ucollapse6">Modify Change Fund</a>
    </h4>
</div>-->
<!--
<div id="Ucollapse6" class="panel-collapse collapse">
    <div class="panel-body">
        <h4>Modify Change Fund</h4>
        <p>please email <a href="mailto:ossteam@wafflehouse.com ">ossteam@wafflehouse.com </a> with the following:</p>
        <ul>
            <li>Subject: Modify Change Fund (or something to that effect)</li>
            <li>Unit Number</li>
            <li>New change fund amount</li>
        </ul>
        <span>Note: UIS cannot help with this.  You may be transfered if you call the UIS help line for assistance with modifying your change fund.</span>
    </div>
</div>
-->
<!--<div class="panel-heading">
    <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accUIS" href="#UcollapsePho">Change Phone Recording</a>
    </h4>
</div>-->
<div id="UcollapsePho" class="panel-collapse collapse">
    <div class="panel-body">
        <h4>Change Phone Recording</h4>
        <p>How to update the phone recording:</p>
        <ol>
            <li>Go to Ops Express and select Unit Operations/Online Scheduling:</li>
            <a><img src="@Url.Content("~/Images/PhoneMessUp1.png")" data-toggle="modal" data-target="#RegRouterTh" class=""></a>
            <li>Select the unit you’ll need to change the phone recording for</li>
            <img src="@Url.Content("~/Images/PhoneMessUp2.png")" data-toggle="modal" data-target="#RegRouterTh" class="">
            <li>Select Unit Phone Recording:</li>
            <img src="@Url.Content("photos/PhoneMessUp3.png")" data-toggle="modal" data-target="#RegRouterTh" class="">
            <li>
                Select the recording you would like.<br />
                Once you have selected the recording you like select “Update Recording,” and it will automatically update the recording for the phone system.
            </li>
        </ol>

    </div>
</div>

<div class="panel-heading">
    <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accUIS" href="#UcollapseOLORef">Creating a Security Incident Report </a>
    </h4>
</div>
<div id="UcollapseOLORef" class="panel-collapse collapse">
    <div class="panel-body">
        <h4>Creating a Security Incident Report </h4>
        <ol>
            <li>Log into the UIS system</li>
            <li>Go to the Sales and Costs Menu and Press the “Enter” key on the Sales and Bank Menu Option</li>
            <button data-toggle="collapse" class="btn btn-primary" data-target="#securityreport1">Show Images</button>
            <div id="securityreport1" class="collapse">
                <div class="row">
                            <img src="@Url.Content("~/Images/securityreport1.png")" data-toggle="modal" data-target="#securityreport1" class="img-responsive img-thumbnail center-block" style="max-width: 450px; height: auto;">
                </div>
            </div>
            <li>Select a Form 4 date</li>
            <li>Press Enter on a Form 4 date, so the drop-down menu appears. Once the drop-down menu appears, go to “Security Events.”</li>
            <button data-toggle="collapse" class="btn btn-primary" data-target="#report2">Show Images</button>
            <div id="report2" class="collapse">
                <div class="row">
                            <img src="@Url.Content("~/Images/securityreport2.png")" class="img-responsive img-thumbnail center-block" style="max-width: 450px; height: auto;">
                </div>
            </div>
            <button data-toggle="collapse" class="btn btn-primary" data-target="#report3">Show Images</button>
            <div id="report3" class="collapse">
                <div class="row">
                            <img src="@Url.Content("~/Images/securityreport3.png")" class="img-responsive img-thumbnail center-block" style="max-width: 450px; height: auto;">
                </div>
            </div>
            <li>To create a security incident, select “Add New Security Event.” (You can also view past reported security incidents in this menu.)</li>
            <button data-toggle="collapse" class="btn btn-primary" data-target="#report4">Show Images</button>
            <div id="report4" class="collapse">
                <div class="row">
                    <img src="@Url.Content("~/Images/securityreport4.png")"class="img-responsive img-thumbnail center-block" style="max-width: 450px; height: auto;">
                </div>
            </div>
            <li>Once you select “Add New Security Event” a page will open for you to input information about the security incident that had occurred on that Form 4 day.</li>
            <button data-toggle="collapse" class="btn btn-primary" data-target="#report5">Show Images</button>
            <div id="report5" class="collapse">
                <div class="row">
                            <img src="@Url.Content("~/Images/securityreport5.png")" class="img-responsive img-thumbnail center-block" style="max-width: 450px; height: auto;">
                </div>
            </div>


        </ol>

    </div>
</div>
        </div>
    </div>
    </div>
